Linkedin post automation/Content Automation (2).json
{
  "name": "Content Automation",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2128,
        80
      ],
      "id": "f58131de-f1d8-4aa1-b6d8-66008048c5a3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cf0nsh0gr9zBqsFK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1984,
        80
      ],
      "id": "781e972e-1cc9-41aa-a412-ad98a9e50c8f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2336,
        -272
      ],
      "id": "0844da6d-e35a-4702-82f0-3bcc422282c8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1568,
        256
      ],
      "id": "d5781bf7-2a77-4a8b-9006-a2b2599ad38e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "cf0nsh0gr9zBqsFK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1424,
        256
      ],
      "id": "6e216b17-019a-418f-a49e-59c8ee4ee851",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a 300-word blog article titled {{ $('AI_Agent_Title_Generator').item.json.output }}.replace(/\"/g, '').trim()}}.\nThe article must be fully relevant to this title — focus on explaining the topic clearly, sharing its benefits, real-world applications, and insights useful for professionals.\nStructure the blog with a short introduction, a detailed main section, and a concise conclusion.\nKeep the writing natural, professional, and human-like, as if written by an experienced data analyst.\nAvoid any emojis, AI-style phrases, or unnecessary jargon.\nThe article should sound engaging, SEO-friendly, and around 300 words in total.\nReturn only the blog text — no notes or explanations.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -1648,
        -272
      ],
      "id": "207a77e4-33ab-4939-9545-1b39d4fbb962",
      "name": "AI Agent1",
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate one SEO-optimized blog title about data analysis that sounds engaging, clear, and professional.\nThe title should:\n\nInclude a trending keyword related to data analysis or data-driven decision-making.\n\nBe under 60 characters (so it fits perfectly in search results).\n\nSound human-written, not robotic.\n\nBe suitable for posting on all platforms (LinkedIn, Twitter, Facebook, and WordPress).\n\nAttract professionals interested in business intelligence, analytics, or data visualization.\n\nExample style:\n\n“How Data Analysis Transforms Business Decisions”\n\n“Top Data Analysis Techniques for Smarter Insights”\n\nReturn only one final title, nothing else.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -2128,
        -272
      ],
      "id": "134ea7f2-e6e0-45a5-a158-2a115f5deeea",
      "name": "AI_Agent_Title_Generator",
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://api.unsplash.com/search/photos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=Analytics"
            },
            {
              "name": "orientation",
              "value": "landscape"
            },
            {
              "name": "client_id",
              "value": "r9iSgkFKDZn5wIvSh4GQ6tnl3iskQxOhvcLJ7Lndds8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        -272
      ],
      "id": "a2ebb79c-2e89-45d0-bf70-873fd6bab9ab",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// The Unsplash API response is in $json\n// We extract the real image URL (not the download_location API link)\n\nconst result = $json.results[0];\n\n// ✅ Choose the best quality URL\n// Options available in Unsplash JSON:\n// result.urls.raw       (max resolution, very large)\n// result.urls.full      (large, good for LinkedIn / posts)\n// result.urls.regular   (medium, good for blog thumbnails)\n// result.urls.small     (small thumbnail)\n// result.urls.thumb     (very small)\n\nreturn [\n  {\n    json: {\n      imageUrl: result.urls.full,   // <-- using 'full' size, safe for LinkedIn\n      altText: result.alt_description || \"Unsplash Image\"\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        -272
      ],
      "id": "40d299cd-bb0f-4931-b508-cc889b2ca55a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "person": "GZL-a4BoB7",
        "text": "={{ $('AI_Agent_Title_Generator').item.json.output }}\n{{ $('AI Agent1').item.json.output }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -576,
        -272
      ],
      "id": "7b0aca80-f142-4a9f-b425-1e61dd9bc47e",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "nU8RnBaUJBQOBuZT",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -784,
        -272
      ],
      "id": "4aad1c64-f2cf-49fb-98fd-a9b40fe6876b",
      "name": "Download Image"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "29bbd0e1-0486-80ad-84a1-ec813d3c6f47",
          "mode": "list",
          "cachedResultName": "AI Content Creation for linkedIn",
          "cachedResultUrl": "https://www.notion.so/29bbd0e1048680ad84a1ec813d3c6f47"
        },
        "title": "={{ $('AI_Agent_Title_Generator').item.json.output }}",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Blog Content generated by AI|date",
              "range": "={{ $('AI Agent1').item.json.output }}",
              "includeTime": false
            },
            {
              "key": "=Image url|url",
              "urlValue": "={{ $('Code in JavaScript').item.json.imageUrl }}"
            },
            {
              "key": "LinkedIn Post url|url",
              "urlValue": "={{ $json.urn }}"
            },
            {
              "key": "Status|rich_text",
              "textContent": "Yes"
            },
            {
              "key": "Publication Date|date",
              "includeTime": false,
              "date": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -368,
        -272
      ],
      "id": "35706207-6cec-4fdf-860d-223a7019d8e2",
      "name": "Create a database page1",
      "credentials": {
        "notionApi": {
          "id": "m3n2HFJzPU1FP87F",
          "name": "Notion account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI_Agent_Title_Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI_Agent_Title_Generator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI_Agent_Title_Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI_Agent_Title_Generator": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Create a database page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b3890ce4-f2fa-4a4c-bf84-5710441b9bfd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7db9c1f7e96326d32c6abd7b52d6747774ec32a3c409c1f694b478732c122e52"
  },
  "id": "3u0S4bmegSvoomx3",
  "tags": []
}