LinkedIn Lead generation and cold email n8n/Smart Lead Scraping, Verification & Email Outreach System (1).json
{
  "name": "Smart Lead Scraping, Verification & Email Outreach System",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        192,
        -208
      ],
      "id": "100fced5-b17d-4569-b89b-88edcbfb6848",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        -208
      ],
      "id": "660284e2-c812-4f5c-acf7-aef29b4cdd1f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b7501ee8-4230-4a35-b9f2-514b08be5dac",
              "leftValue": "={{ $json.linkedinUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1616,
        -192
      ],
      "id": "0764ae4d-b51d-4090-b0f8-b38de27d0910",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1872,
        -192
      ],
      "id": "479a1dc5-7ae1-40ee-b0df-d68cd3841509",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        192,
        -368
      ],
      "id": "ba5af575-3881-4e7e-93ce-3cdf28d4b89d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Take the Notion output and convert it to a CSV file with binary data\n\nconst lead = items[0].json;\n\n// Define the headers you want in the CSV\nconst headers = [\n  'id',\n  'Name of Person',\n  'Company Name',\n  'Industry',\n  'Company Email (Hunter.io)',\n  'Company LinkedIn URL',\n  'Email Verification',\n  'Instantly Cold Email Status',\n  'Notion URL'\n];\n\n// Pick values from the Notion output\nconst values = [\n  lead.id || '',\n  lead.property_name_of_person || '',\n  lead.property_company_name || '',\n  lead.property_industry || '',\n  lead.property_company_email_generated_by_hunter_io || '',\n  lead.property_company_linked_in_url || '',\n  lead.property_verification_of_email_report || '',\n  lead.property_status_of_instantly_cold_email || '',\n  lead.url || ''\n];\n\n// Escape any commas or quotes\nfunction quote(value) {\n  return `\"${String(value).replace(/\"/g, '\"\"')}\"`;\n}\n\n// Build CSV content\nconst csv = headers.join(',') + '\\n' + values.map(quote).join(',');\n\n// Convert CSV to base64 for binary output\nconst base64 = Buffer.from(csv).toString('base64');\n\n// Attach CSV as binary file\nitems[0].binary = {\n  leadFile: {\n    data: base64,\n    fileName: `lead-${lead.property_name_of_person || 'unknown'}.csv`,\n    mimeType: 'text/csv',\n  },\n};\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        464
      ],
      "id": "8945c391-0aa1-482e-b5c8-2f86b32e8925",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "content": " \n                 Project Summary\n\nThe automation manages the complete LinkedIn lead-to-email process inside n8n.\n\n\nIt starts by importing leads the Apollo Apify Actor scraper.\n\n\nThe workflow restructures the CSV, standardizes field names, and enriches each lead with company domain and professional email using Hunter.io.\n\n\nIt removes incomplete and duplicate records to maintain a clean dataset.\n\n\nVerified leads are synced to HubSpot and saved in Notion with full details.\n\n\nOpenAI generates a personalized cold email for every prospect.\n\n\nInstantly.ai campaigns are created automatically, leads are added, and emails are sent.\n\n\nAll processed lead data is compiled into a CSV report and sent via Gmail.\n\n\nThe workflow supports both manual execution and scheduled automation.\n\n",
        "height": 960,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2368,
        -336
      ],
      "typeVersion": 1,
      "id": "ff86c287-e679-452c-bf9b-eaf461dd3469",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "                                Smart Lead Scraping, Verification & Email Outreach System",
        "height": 80,
        "width": 976,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        -464
      ],
      "typeVersion": 1,
      "id": "29375e31-0541-42bc-9ffc-7f7a64412634",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/13NdWSNqD-7a2Z-EQzUvnkMNWhRgz8far/export?format=csv",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        -208
      ],
      "id": "11630312-f02d-4ac0-9371-95425db90ae0",
      "name": "APifyApolloActor"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $('Getting Email From Hunter i.o').item.json.companyEmail }}",
        "additionalFields": {
          "city": "={{ $('Clean Field Name').first().json.city }}",
          "companyName": "={{ $('Clean Field Name').first().json.company }}",
          "companySize": "={{ $('Clean Field Name').first().json.companysize }}",
          "country": "={{ $('Clean Field Name').first().json.country }}",
          "firstName": "={{ $('Clean Field Name').first().json.name }}",
          "industry": "={{ $('Clean Field Name').first().json.industry }}",
          "linkedinUrl": "={{ $('Clean Field Name').first().json.linkedinUrl }}",
          "websiteUrl": "={{ $('Clean Field Name').first().json.title }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1712,
        112
      ],
      "id": "8d0f661d-c62a-4462-98b4-6b4891fea123",
      "name": "Create or update a contact",
      "credentials": {
        "hubspotAppToken": {
          "id": "H5QCQBRtmXIX7bio",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the raw CSV text from the HTTP node output\n// Adjust 'data' if your field name is different\nconst csvText = items[0].json.data || Object.values(items[0].json)[0];\n\n// Split by line breaks and clean up\nconst lines = csvText\n  .replace(/\\\\n/g, '\\n')  // Convert literal \"\\n\" to real newlines\n  .split('\\n')\n  .map(line => line.trim())\n  .filter(line => line.length > 0);\n\n// Extract headers (first line)\nconst headers = lines[0].split(',').map(h => \n  h.replace(/\\//g, '_').trim()\n);\n\n// Convert each row into JSON\nconst results = lines.slice(1).map(line => {\n  // Handle quoted commas correctly using regex\n  const values = line.match(/(\".*?\"|[^\",\\s]+)(?=\\s*,|\\s*$)/g) || [];\n\n  const row = {};\n  headers.forEach((header, i) => {\n    let value = values[i] ? values[i].replace(/^\"|\"$/g, '').trim() : '';\n\n    // Convert booleans and numbers properly\n    if (value.toLowerCase() === 'true') value = true;\n    else if (value.toLowerCase() === 'false') value = false;\n    else if (!isNaN(value) && value.trim() !== '') value = Number(value);\n\n    row[header] = value;\n  });\n\n  return { json: row };\n});\n\n// Return parsed JSON items to n8n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -192
      ],
      "id": "c035da99-879b-49fe-8bf0-4a3424eea963",
      "name": "Clean Field Name",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Process each lead from the previous HTTP node\nreturn items.map(item => {\n    const lead = item.json;\n\n    // Function to generate a domain from company name\n    const generateDomain = (companyName) => {\n        if (!companyName) return \"\";\n        let domain = companyName.toLowerCase()          // lowercase\n            .replace(/[^a-z0-9\\s]/g, '')               // remove special characters\n            .trim()                                    // remove leading/trailing spaces\n            .replace(/\\s+/g, '-')                      // replace spaces with dashes\n            + '.com';                                  // add .com\n        return domain;\n    };\n\n    // Determine the domain: use website if exists, otherwise generate from company name\n    const domain = lead.website && lead.website.trim() !== \"\" ? lead.website : generateDomain(lead.company);\n\n    // Return cleaned lead with domain added\n    return {\n        json: {\n            ...lead,\n            domain: domain\n        }\n    };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        112
      ],
      "id": "aea44c55-5f4c-455c-9e64-a143a2f2b650",
      "name": "Getting domain name"
    },
    {
      "parameters": {
        "operation": "emailVerifier",
        "email": "={{ $json.companyEmail }}"
      },
      "type": "n8n-nodes-base.hunter",
      "typeVersion": 1,
      "position": [
        1024,
        112
      ],
      "id": "e98cb763-4746-4c8d-9fdc-02998b8e2dfa",
      "name": "For verifing email",
      "credentials": {
        "hunterApi": {
          "id": "l5LgiM3fPMKElB68",
          "name": "Hunter account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "company",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1248,
        -192
      ],
      "id": "8413e901-6148-49f5-8025-3bd9f8f9dae4",
      "name": "Split Out"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2160,
        400
      ],
      "id": "c885655f-cfa0-4ccd-b3cc-542c8a18f659",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "cf0nsh0gr9zBqsFK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2256,
        400
      ],
      "id": "aa23480f-15ba-4718-8c40-ec8784b42dff",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/campaigns",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer MzFkMzEyYzgtYTVjNC00NDI3LWE3NTQtMzU3ODk0ZDk1NjU5OlNib3FPRHJwRm1VdA=="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"n8n\",\n  \"sendingDomain\": \"charles-hall-construction-llc.com\",\n  \"fromName\": \"Haseeb\",\n  \"subject\": \"Welcome from Instantly\",\n  \"body\": \"Hi Ford, I came across your profile on LinkedIn and noticed that you are the owner of Charles Hall Construction, LLC. As a data analytics specialist, I can help automate your business with customized dashboards and n8n automation. Feel free to reach out if you are interested in streamlining your processes. Thanks.\",\n  \"campaign_schedule\": {\n    \"schedules\": [\n      {\n        \"name\": \"Weekday Schedule\",\n        \"days\": {\n          \"monday\": true,\n          \"tuesday\": true,\n          \"wednesday\": true,\n          \"thursday\": true,\n          \"friday\": true,\n          \"saturday\": false,\n          \"sunday\": false\n        },\n        \"startTime\": \"09:00\",\n        \"endTime\": \"17:00\",\n        \"timezone\": \"Etc/GMT+11\",\n        \"timing\": {\n          \"type\": \"daily\",\n          \"from\": \"09:00\",\n          \"to\": \"17:00\"\n        }\n      }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        464
      ],
      "id": "a62a0afd-d8e6-4500-b5d3-7005cd483834",
      "name": "Creating Campaign ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer MzFkMzEyYzgtYTVjNC00NDI3LWE3NTQtMzU3ODk0ZDk1NjU5OlNib3FPRHJwRm1VdA=="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $('Clean Field Name').first().json.email }}\",\n  \"first_name\": \"Ford\",\n  \"last_name\": \"Owner\",\n  \"campaign_id\": \"{{ $json.id }}\",\n  \"custom_variables\": {\n    \"company\": \"Charles Hall Construction, LLC\",\n    \"position\": \"Owner\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        464
      ],
      "id": "b9e08523-d8e1-46a7-809b-7b64b7ef446c",
      "name": "Lead generation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.instantly.ai/api/v2/campaigns/4b36a6bf-5498-40e7-bafe-0c9608a8d11c/activate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer MzFkMzEyYzgtYTVjNC00NDI3LWE3NTQtMzU3ODk0ZDk1NjU5OlNib3FPRHJwRm1VdA=="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        464
      ],
      "id": "706d3174-89a0-44c6-a8ec-fd50b53b7aab",
      "name": "Sending Email"
    },
    {
      "parameters": {
        "jsCode": "// Flatten all items from previous node into a single array\nconst allEmails = items.map(item => item.json);\n\n// Filter for generic/company emails\nconst companyEmails = allEmails\n    .filter(emailObj => emailObj.type === \"generic\")\n    .map(emailObj => emailObj.value);\n\n// Take the first email (or null if none)\nconst companyEmail = companyEmails.length > 0 ? companyEmails[0] : null;\n\nreturn [\n    {\n        json: {\n            companyEmail: companyEmail\n        }\n    }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        112
      ],
      "id": "ac0f8285-9ec3-407a-b80f-23b95d05b424",
      "name": "Getting Email From Hunter i.o"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2a0bd0e1-0486-80d8-9aeb-ce321290086b",
          "mode": "list",
          "cachedResultName": "Lead Generation And Cold Email Info",
          "cachedResultUrl": "https://www.notion.so/2a0bd0e1048680d89aebce321290086b"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Company Email Generated by hunter.io|email",
              "emailValue": "={{ $('Getting Email From Hunter i.o').item.json.companyEmail }}"
            },
            {
              "key": "Company LinkedIn URL|url",
              "urlValue": "={{ $('Clean Field Name').first().json.linkedinUrl }}"
            },
            {
              "key": "Company Name|rich_text",
              "textContent": "={{ $('Clean Field Name').first().json.company }}"
            },
            {
              "key": "Name of Person|title",
              "title": "={{ $('Clean Field Name').first().json.name }}"
            },
            {
              "key": "Industry|rich_text",
              "textContent": "={{ $('Clean Field Name').first().json.industry }}"
            },
            {
              "key": "Status Of Instantly Cold Email|rich_text",
              "textContent": "Scheduled"
            },
            {
              "key": "Verification Of Email Report|rich_text",
              "textContent": "={{ $('For verifing email').item.json.status }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        912,
        464
      ],
      "id": "82e79935-4ed8-4679-bfe0-1c6c3fb477ff",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "bNUyCP6gKqpEk6za",
          "name": "Notion account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI email writer. Generate a **personalized cold email message** in the following style:\n\n1. Start with a greeting and the client’s first name.\n2. Mention that you found their LinkedIn profile and that they are the owner of their company.\n3. Introduce yourself as a data analytics specialist.\n4. Explain how you can automate their business using dashboards and n8n automation.\n5. End with a call-to-action inviting them to contact you.\n6. Keep the message concise in **2–3 sentences**.\n\nUse the following variables:\n\n- Client Name: {{ $('Clean Field Name').first().json.name }}\n- Company Name: {{ $('Clean Field Name').first().json.company }}\n\nExample output style:\n\n\"Hi {{ $('Clean Field Name').first().json.name }}, I got your ID from LinkedIn and saw that you are the owner of {{ $('Clean Field Name').first().json.company }}\n. I am a data analytics specialist and can automate your business by creating dashboards and automating processes using n8n. If you want to automate your business, contact me. \nThanks\"\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2160,
        112
      ],
      "id": "89a14cf5-990b-40cb-ac94-b4c5e8f76767",
      "name": "Content of Cold Email",
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "          Lead Intake & Data Fetching",
        "height": 256,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        -304
      ],
      "typeVersion": 1,
      "id": "83a8253d-ecb5-48f8-af5d-ae7f6e630789",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "          CSV Structuring & Field Normalization",
        "height": 272,
        "width": 464,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -320
      ],
      "typeVersion": 1,
      "id": "bb6e7e8c-8477-4231-9971-218866754f6f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "                Lead Quality Validation",
        "height": 272,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1584,
        -320
      ],
      "typeVersion": 1,
      "id": "f336abdf-04d8-4838-a654-5b690d56d394",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "    Domain Extraction & Email Finding via Hunter.io",
        "height": 240,
        "width": 496,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        16
      ],
      "typeVersion": 1,
      "id": "bf5bdc88-7acc-4ff4-90a9-9c1295c30935",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "       Email Authenticity Check via Hunter.io",
        "height": 240,
        "width": 512,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        16
      ],
      "typeVersion": 1,
      "id": "a4131d82-a2d3-4ba1-aa79-e760fee760a9",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "domain": "={{ $json.domain }}",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.hunter",
      "typeVersion": 1,
      "position": [
        368,
        112
      ],
      "id": "97897efa-fc52-4d28-8bb9-84ee1e8614b8",
      "name": "Company Email",
      "credentials": {
        "hunterApi": {
          "id": "l5LgiM3fPMKElB68",
          "name": "Hunter account"
        }
      }
    },
    {
      "parameters": {
        "content": "               CRM Record Syncing via Hubspot",
        "height": 240,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        16
      ],
      "typeVersion": 1,
      "id": "d7b96941-aa6c-4c2e-8cea-7e85ebd83d88",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "            AI-Driven Email Personalization",
        "height": 240,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        16
      ],
      "typeVersion": 1,
      "id": "c977b1e1-3ca4-40dc-91af-74f206b9339d",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "             Instantly Campaign Initialization via Instantly.ai",
        "height": 256,
        "width": 608,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        368
      ],
      "typeVersion": 1,
      "id": "8169fc4c-bc03-4558-8750-28ef83d70472",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "              Notion Lead Archiving",
        "height": 256,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        368
      ],
      "typeVersion": 1,
      "id": "4f73ab00-9aab-4ca6-a918-be4c6a39b864",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "         Generating and Sending Performance Reports",
        "height": 256,
        "width": 528,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        368
      ],
      "typeVersion": 1,
      "id": "801d9c32-6179-45f5-a042-fa6ca5c812b1",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "sendTo": "bibijaveria031@gmail.com",
        "subject": "Lead Generation Info With Instantly Cold Email Status",
        "message": "=New lead is Generated",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "leadFile"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1776,
        464
      ],
      "id": "780a7f85-90e7-4e58-be6d-b78f603590e2",
      "name": "sending email to client",
      "webhookId": "8dd57c17-54e5-4376-9fdc-375be17e6790",
      "credentials": {
        "gmailOAuth2": {
          "id": "XtqfKSRovyYtEVdZ",
          "name": "Gmail account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "APifyApolloActor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Clean Field Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Getting domain name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "APifyApolloActor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "sending email to client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APifyApolloActor": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a contact": {
      "main": [
        [
          {
            "node": "Content of Cold Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Field Name": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting domain name": {
      "main": [
        [
          {
            "node": "Company Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "For verifing email": {
      "main": [
        [
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Content of Cold Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Content of Cold Email",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Creating Campaign ID": {
      "main": [
        [
          {
            "node": "Lead generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead generation": {
      "main": [
        [
          {
            "node": "Sending Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting Email From Hunter i.o": {
      "main": [
        [
          {
            "node": "For verifing email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sending Email": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content of Cold Email": {
      "main": [
        [
          {
            "node": "Creating Campaign ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Email": {
      "main": [
        [
          {
            "node": "Getting Email From Hunter i.o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "34d4b02d-f984-42e0-88d6-56f84f932fe5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7db9c1f7e96326d32c6abd7b52d6747774ec32a3c409c1f694b478732c122e52"
  },
  "id": "No6q3eNBuY1bvxzy",
  "tags": []
}