RAG/My workflow 2 (2).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3104,
        528
      ],
      "id": "696f0062-ab55-4c2e-9e66-70a3b145ac42",
      "name": "Wait",
      "webhookId": "c6f4c924-2f1e-4b23-949d-bb662f1f79ea"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json[\"name\"] }}",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3328,
        528
      ],
      "id": "ff4e534c-f4fe-490d-8ba2-72e3d0941e4f",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DKvricd8htf05aZH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json[\"name\"] }}",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2880,
        528
      ],
      "id": "2a48123b-8caf-4186-a939-6ef03352d7d1",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DKvricd8htf05aZH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d65a8a3-de2c-41ec-a252-3bc948f65a9e",
              "leftValue": "={{ $json.match }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2432,
        528
      ],
      "id": "c18f087f-b5a9-42e5-8474-b0b7c50f30d5",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "function sha256(ascii) {\n  function rightRotate(value, amount) {\n    return (value >>> amount) | (value << (32 - amount));\n  }\n\n  let mathPow = Math.pow;\n  let maxWord = mathPow(2, 32);\n  let lengthProperty = 'length';\n  let i, j; // Used as a counter across the whole file\n  let result = '';\n\n  let words = [];\n  let asciiBitLength = ascii[lengthProperty] * 8;\n\n  let hash = sha256.h = sha256.h || [];\n  let k = sha256.k = sha256.k || [];\n  let primeCounter = k[lengthProperty];\n\n  let isComposite = {};\n  for (let candidate = 2; primeCounter < 64; candidate++) {\n    if (!isComposite[candidate]) {\n      for (i = 0; i < 313; i += candidate) {\n        isComposite[i] = candidate;\n      }\n      hash[primeCounter] = (mathPow(candidate, 0.5) * maxWord) | 0;\n      k[primeCounter++] = (mathPow(candidate, 1 / 3) * maxWord) | 0;\n    }\n  }\n\n  ascii += '\\x80'; // Append '1' bit (plus zero padding)\n  while ((ascii[lengthProperty] % 64) - 56) ascii += '\\x00';\n  for (i = 0; i < ascii[lengthProperty]; i++) {\n    j = ascii.charCodeAt(i);\n    if (j >> 8) return; // Only ASCII allowed\n    words[i >> 2] |= j << (((3 - i) % 4) * 8);\n  }\n  words[words[lengthProperty]] = (asciiBitLength / maxWord) | 0;\n  words[words[lengthProperty]] = asciiBitLength;\n\n  for (j = 0; j < words[lengthProperty];) {\n    let w = words.slice(j, (j += 16));\n    let oldHash = hash;\n    hash = hash.slice(0, 8);\n\n    for (i = 0; i < 64; i++) {\n      let w15 = w[i - 15],\n        w2 = w[i - 2];\n\n      let a = hash[0],\n        e = hash[4];\n      let temp1 =\n        hash[7] +\n        (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25)) +\n        ((e & hash[5]) ^ (~e & hash[6])) +\n        k[i] +\n        (w[i] =\n          i < 16\n            ? w[i]\n            : (w[i - 16] +\n                (rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3)) +\n                w[i - 7] +\n                (rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10))) |\n              0);\n      let temp2 =\n        (rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22)) +\n        ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]));\n\n      hash = [(temp1 + temp2) | 0].concat(hash);\n      hash[4] = (hash[4] + temp1) | 0;\n    }\n\n    for (i = 0; i < 8; i++) hash[i] = (hash[i] + oldHash[i]) | 0;\n  }\n\n  for (i = 0; i < 8; i++) {\n    for (j = 3; j + 1; j--) {\n      let b = (hash[i] >> (j * 8)) & 255;\n      result += (b < 16 ? 0 : '') + b.toString(16);\n    }\n  }\n  return result;\n}\n\n// Process n8n item\nconst results = [];\nfor (const item of $input.all()) {\n  if (!item.binary || !item.binary.data) {\n    results.push({ json: { error: \"No file data found\" } });\n    continue;\n  }\n\n  const base64String = item.binary.data.data || item.binary.data;\n  const ascii = Buffer.from(base64String, 'base64').toString('binary');\n  const hash = sha256(ascii);\n  results.push({ json: { ...item.json, computedSHA256: hash } });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        528
      ],
      "id": "459e0468-990b-433a-844a-a6fda4379b47",
      "name": "Compute SHA"
    },
    {
      "parameters": {
        "jsCode": "// Robust \"Check update or create1\" node\n// Safe, defensive reads; returns one item array with action: insert/update/skip\n\n// helper\nconst norm = (v) => {\n  if (v === undefined || v === null) return \"\";\n  return String(v).trim();\n};\n\n// 1) Read compute node output safely\nlet computeNodeJson = null;\ntry {\n  const computeItems = $items(\"Compute SHA\") || $items(\"Compute SHA1\") || [];\n  computeNodeJson = Array.isArray(computeItems) && computeItems.length > 0 ? (computeItems[0].json ?? null) : null;\n} catch (e) {\n  computeNodeJson = null;\n}\n\n// As a fallback, allow current item's json (in case upstream wiring differs)\nif (!computeNodeJson) {\n  try {\n    computeNodeJson = $json ?? null;\n  } catch (e) {\n    computeNodeJson = null;\n  }\n}\n\n// 2) Read sheet node output safely (try both common names)\nlet sheetNodeJson = null;\ntry {\n  const tryNames = [\"File ID already exists1\", \"Check if File ID already exists1\", \"Check if File ID already exists\"];\n  for (const n of tryNames) {\n    try {\n      const items = $items(n) || [];\n      if (Array.isArray(items) && items.length > 0 && items[0].json && Object.keys(items[0].json).length > 0) {\n        sheetNodeJson = items[0].json;\n        break;\n      }\n      // sometimes node exposes .json directly\n      const nodeObj = $node[n];\n      if (nodeObj && nodeObj.json && Object.keys(nodeObj.json).length > 0) {\n        // if it is an array take first element\n        sheetNodeJson = Array.isArray(nodeObj.json) ? nodeObj.json[0] : nodeObj.json;\n        if (sheetNodeJson) break;\n      }\n    } catch (inner) {\n      // continue trying other names\n    }\n  }\n} catch (e) {\n  sheetNodeJson = null;\n}\n\n// 3) Extract canonical fields\nconst src_fileId = norm(computeNodeJson?.id ?? computeNodeJson?.fileId ?? computeNodeJson?.[\"File ID\"] ?? \"\");\nconst src_computedSHA256 = norm(computeNodeJson?.computedSHA256 ?? computeNodeJson?.computedSHA ?? \"\");\nconst src_modifiedTime = norm(computeNodeJson?.modifiedTime ?? computeNodeJson?.[\"Last Modified\"] ?? \"\");\n\nconst sheet_fileId = norm(sheetNodeJson?.[\"File ID\"] ?? sheetNodeJson?.fileId ?? sheetNodeJson?.id ?? \"\");\nconst sheet_SHA256 = norm(sheetNodeJson?.[\"SHA256\"] ?? sheetNodeJson?.SHA256 ?? sheetNodeJson?.sha256 ?? \"\");\nconst sheet_modified = norm(sheetNodeJson?.[\"Last Modified\"] ?? sheetNodeJson?.lastModified ?? sheetNodeJson?.modifiedTime ?? \"\");\n\n// 4) Decision logic per your rules\nlet action = \"insert\";\nlet reason = \"\";\n\nif (!sheet_fileId) {\n  action = \"insert\";\n  reason = \"No matching row returned by File ID already exists1 (sheet empty for this file id).\";\n} else {\n  // sheet row exists\n  if (sheet_SHA256 && src_computedSHA256 && sheet_SHA256 === src_computedSHA256) {\n    action = \"skip\";\n    reason = \"SHA256 from sheet matches computedSHA256 (no change).\";\n  } else {\n    action = \"update\";\n    reason = \"Sheet row exists but SHA256 differs from computedSHA256 (update required).\";\n  }\n}\n\n// 5) Return required array of items\nreturn [\n  {\n    json: {\n      action,\n      reason,\n      debug: {\n        src_fileId,\n        src_computedSHA256,\n        src_modifiedTime,\n        sheet_fileId,\n        sheet_SHA256,\n        sheet_modified,\n        sheetRowPresent: !!sheet_fileId,\n        computeNodeFound: !!computeNodeJson,\n        sheetNodeFound: !!sheetNodeJson\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        528
      ],
      "id": "1e572753-d7cb-410d-a057-60497e2bd13d",
      "name": "Check update or create"
    },
    {
      "parameters": {
        "content": "## To check if the file is completely uploaded or not\n",
        "height": 352,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3392,
        416
      ],
      "id": "f4f172b4-45d3-4da0-a386-65b25262e262",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## To check if the file content has also changed or not (No further processing if for example only the name of file or locatiion changed.)\n\n",
        "height": 384,
        "width": 1088
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1616,
        320
      ],
      "id": "d886cdef-6d72-4d4c-98eb-816d43fd294e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho",
          "mode": "list",
          "cachedResultName": "RAG_Dev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "File ID",
              "lookupValue": "={{ $('Loop Over Items').first().json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1120,
        528
      ],
      "id": "8489125c-154b-45ed-967f-fd94a5bda6a3",
      "name": "Check if File ID already exists",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CUW4rJo7fbBMKx3X",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get both outputs from your two Search nodes\nconst file1Data = $json[\"Search files and folders\"] || $items(\"Search files and folders\")[0]?.json;\nconst file2Data = $json[\"Search files and folders1\"] || $items(\"Search files and folders1\")[0]?.json;\n\n// Handle if nodes return arrays instead of plain objects\nconst file1 = Array.isArray(file1Data) ? file1Data[0] : file1Data;\nconst file2 = Array.isArray(file2Data) ? file2Data[0] : file2Data;\n\n// Safety checks\nif (!file1 || !file2) {\n  return [\n    {\n      json: {\n        match: false,\n        reason: \"Missing file data from one or both searches.\",\n        hasFile1: !!file1,\n        hasFile2: !!file2,\n      },\n    },\n  ];\n}\n\n// Compare stable properties\nconst sameChecksum = file1.md5Checksum === file2.md5Checksum;\nconst sameSize = file1.size === file2.size;\nconst sameModifiedTime = file1.modifiedTime === file2.modifiedTime;\n\n// Return result\nreturn [\n  {\n    json: {\n      match: sameChecksum && sameSize && sameModifiedTime,\n      md5Changed: !sameChecksum,\n      sizeChanged: !sameSize,\n      modifiedTimeChanged: !sameModifiedTime,\n      file1Modified: file1.modifiedTime,\n      file2Modified: file2.modifiedTime,\n      file1Size: file1.size,\n      file2Size: file2.size,\n      file1Md5: file1.md5Checksum,\n      file2Md5: file2.md5Checksum,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2656,
        528
      ],
      "id": "4e28a52f-8337-46f8-891f-6d0f541c6010",
      "name": "Check if the file is completely uploaded"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f4f48544-6f75-40a6-afdd-7406aab50c18"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d6fe868f-72e2-4078-b02e-ded8c46bd85a",
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "89a42711-1060-4e7a-98bb-ab6c07ea1b98",
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1904,
        528
      ],
      "id": "4f5f966c-083d-4736-bc79-816a730a1227",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentType": "image_url",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        -1344,
        928
      ],
      "id": "e69322a8-124f-4034-9a02-232e5d4ab58f",
      "name": "Extract text",
      "credentials": {
        "mistralCloudApi": {
          "id": "kmAo0d98prRmHBR4",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1584,
        928
      ],
      "id": "87233c14-6128-4ccb-bd16-657388c7a44b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DKvricd8htf05aZH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function sha256(ascii) {\n  function rightRotate(value, amount) {\n    return (value >>> amount) | (value << (32 - amount));\n  }\n\n  let mathPow = Math.pow;\n  let maxWord = mathPow(2, 32);\n  let lengthProperty = 'length';\n  let i, j;\n  let result = '';\n\n  let words = [];\n  let asciiBitLength = ascii[lengthProperty] * 8;\n\n  let hash = sha256.h = sha256.h || [];\n  let k = sha256.k = sha256.k || [];\n  let primeCounter = k[lengthProperty];\n\n  let isComposite = {};\n  for (let candidate = 2; primeCounter < 64; candidate++) {\n    if (!isComposite[candidate]) {\n      for (i = 0; i < 313; i += candidate) {\n        isComposite[i] = candidate;\n      }\n      hash[primeCounter] = (mathPow(candidate, 0.5) * maxWord) | 0;\n      k[primeCounter++] = (mathPow(candidate, 1 / 3) * maxWord) | 0;\n    }\n  }\n\n  ascii += '\\x80';\n  while ((ascii[lengthProperty] % 64) - 56) ascii += '\\x00';\n  for (i = 0; i < ascii[lengthProperty]; i++) {\n    j = ascii.charCodeAt(i);\n    if (j >> 8) return;\n    words[i >> 2] |= j << (((3 - i) % 4) * 8);\n  }\n  words[words[lengthProperty]] = (asciiBitLength / maxWord) | 0;\n  words[words[lengthProperty]] = asciiBitLength;\n\n  for (j = 0; j < words[lengthProperty];) {\n    let w = words.slice(j, (j += 16));\n    let oldHash = hash;\n    hash = hash.slice(0, 8);\n\n    for (i = 0; i < 64; i++) {\n      let w15 = w[i - 15],\n        w2 = w[i - 2];\n\n      let a = hash[0],\n        e = hash[4];\n      let temp1 =\n        hash[7] +\n        (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25)) +\n        ((e & hash[5]) ^ (~e & hash[6])) +\n        k[i] +\n        (w[i] =\n          i < 16\n            ? w[i]\n            : (w[i - 16] +\n                (rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3)) +\n                w[i - 7] +\n                (rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10))) |\n              0);\n      let temp2 =\n        (rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22)) +\n        ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]));\n\n      hash = [(temp1 + temp2) | 0].concat(hash);\n      hash[4] = (hash[4] + temp1) | 0;\n    }\n\n    for (i = 0; i < 8; i++) hash[i] = (hash[i] + oldHash[i]) | 0;\n  }\n\n  for (i = 0; i < 8; i++) {\n    for (j = 3; j + 1; j--) {\n      let b = (hash[i] >> (j * 8)) & 255;\n      result += (b < 16 ? 0 : '') + b.toString(16);\n    }\n  }\n  return result;\n}\n\n// Process n8n items\nconst results = [];\nfor (const item of $input.all()) {\n  const markdown = item.json?.pages?.[0]?.markdown || item.json?.extractedText;\n  if (!markdown) {\n    results.push({ json: { ...item.json, error: \"No markdown found\" } });\n    continue;\n  }\n\n  const hash = sha256(markdown);\n  results.push({ json: { ...item.json, computedSHA256: hash } });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        928
      ],
      "id": "c3bf1efb-b869-4bf1-86fc-b1d072e5b397",
      "name": "Compute SHA1"
    },
    {
      "parameters": {
        "jsCode": "// Robust \"Check update or create1\" node\n// Safe, defensive reads; returns one item array with action: insert/update/skip\n\n// helper\nconst norm = (v) => {\n  if (v === undefined || v === null) return \"\";\n  return String(v).trim();\n};\n\n// 1) Read compute node output safely\nlet computeNodeJson = null;\ntry {\n  const computeItems = $items(\"Compute SHA1\") || $items(\"Compute SHA\") || [];\n  computeNodeJson = Array.isArray(computeItems) && computeItems.length > 0 ? (computeItems[0].json ?? null) : null;\n} catch (e) {\n  computeNodeJson = null;\n}\n\n// As a fallback, allow current item's json (in case upstream wiring differs)\nif (!computeNodeJson) {\n  try {\n    computeNodeJson = $json ?? null;\n  } catch (e) {\n    computeNodeJson = null;\n  }\n}\n\n// 2) Read sheet node output safely (try both common names)\nlet sheetNodeJson = null;\ntry {\n  const tryNames = [\"File ID already exists1\", \"Check if File ID already exists1\", \"Check if File ID already exists\"];\n  for (const n of tryNames) {\n    try {\n      const items = $items(n) || [];\n      if (Array.isArray(items) && items.length > 0 && items[0].json && Object.keys(items[0].json).length > 0) {\n        sheetNodeJson = items[0].json;\n        break;\n      }\n      // sometimes node exposes .json directly\n      const nodeObj = $node[n];\n      if (nodeObj && nodeObj.json && Object.keys(nodeObj.json).length > 0) {\n        // if it is an array take first element\n        sheetNodeJson = Array.isArray(nodeObj.json) ? nodeObj.json[0] : nodeObj.json;\n        if (sheetNodeJson) break;\n      }\n    } catch (inner) {\n      // continue trying other names\n    }\n  }\n} catch (e) {\n  sheetNodeJson = null;\n}\n\n// 3) Extract canonical fields\nconst src_fileId = norm(computeNodeJson?.id ?? computeNodeJson?.fileId ?? computeNodeJson?.[\"File ID\"] ?? \"\");\nconst src_computedSHA256 = norm(computeNodeJson?.computedSHA256 ?? computeNodeJson?.computedSHA ?? \"\");\nconst src_modifiedTime = norm(computeNodeJson?.modifiedTime ?? computeNodeJson?.[\"Last Modified\"] ?? \"\");\n\nconst sheet_fileId = norm(sheetNodeJson?.[\"File ID\"] ?? sheetNodeJson?.fileId ?? sheetNodeJson?.id ?? \"\");\nconst sheet_SHA256 = norm(sheetNodeJson?.[\"SHA256\"] ?? sheetNodeJson?.SHA256 ?? sheetNodeJson?.sha256 ?? \"\");\nconst sheet_modified = norm(sheetNodeJson?.[\"Last Modified\"] ?? sheetNodeJson?.lastModified ?? sheetNodeJson?.modifiedTime ?? \"\");\n\n// 4) Decision logic per your rules\nlet action = \"insert\";\nlet reason = \"\";\n\nif (!sheet_fileId) {\n  action = \"insert\";\n  reason = \"No matching row returned by File ID already exists1 (sheet empty for this file id).\";\n} else {\n  // sheet row exists\n  if (sheet_SHA256 && src_computedSHA256 && sheet_SHA256 === src_computedSHA256) {\n    action = \"skip\";\n    reason = \"SHA256 from sheet matches computedSHA256 (no change).\";\n  } else {\n    action = \"update\";\n    reason = \"Sheet row exists but SHA256 differs from computedSHA256 (update required).\";\n  }\n}\n\n// 5) Return required array of items\nreturn [\n  {\n    json: {\n      action,\n      reason,\n      debug: {\n        src_fileId,\n        src_computedSHA256,\n        src_modifiedTime,\n        sheet_fileId,\n        sheet_SHA256,\n        sheet_modified,\n        sheetRowPresent: !!sheet_fileId,\n        computeNodeFound: !!computeNodeJson,\n        sheetNodeFound: !!sheetNodeJson\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        928
      ],
      "id": "b8254ad1-9931-45ae-8222-068c56867f20",
      "name": "Check update or create1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho",
          "mode": "list",
          "cachedResultName": "RAG_Dev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "File ID",
              "lookupValue": "={{ $('Loop Over Items').first().json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -896,
        928
      ],
      "id": "b259003e-a9c3-4089-b011-ca1166166fc9",
      "name": "Check if File ID already exists1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CUW4rJo7fbBMKx3X",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho",
          "mode": "list",
          "cachedResultName": "RAG_Dev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "File ID"
          ],
          "schema": [
            {
              "id": "File ID",
              "displayName": "File ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SHA256",
              "displayName": "SHA256",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed At",
              "displayName": "Processed At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Embedding Status",
              "displayName": "Embedding Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Embedded At",
              "displayName": "Embedded At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        528
      ],
      "id": "f5856133-b3db-4b7d-b9cd-dc379226f1a4",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CUW4rJo7fbBMKx3X",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ea63d25-395a-4af6-8f16-833d0aaf4f7c",
              "name": "File ID",
              "value": "={{ $('Loop Over Items').first().json.id }}",
              "type": "string"
            },
            {
              "id": "a8518065-d7e2-4951-802f-fde1f1236f76",
              "name": "File Name",
              "value": "={{ $('Loop Over Items').first().json.name }}",
              "type": "string"
            },
            {
              "id": "ed987c57-48d8-468b-ad3b-f97983fc8fc0",
              "name": "SHA256",
              "value": "={{ $json.debug.src_computedSHA256 }}",
              "type": "string"
            },
            {
              "id": "c4c65657-8180-4005-9018-f17d08853e11",
              "name": "Last Modified",
              "value": "={{ $('Loop Over Items').first().json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "598ea775-ad51-45a7-89ab-7b9a69015b0d",
              "name": "Processed At",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "128fd555-0a32-4c65-af1e-ba43140bc06f",
              "name": "Embedding Status",
              "value": "NA",
              "type": "string"
            },
            {
              "id": "488799e4-6478-4f3d-b803-a0745e769731",
              "name": "Embedded At",
              "value": "NA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        528
      ],
      "id": "791a16f9-84d2-40a1-8273-0a1a48b876f7",
      "name": "Set name of fields to match those in the sheet"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action && ($json.action.includes(\"insert\") || $json.action.includes(\"update\")).toBoolean() }}\n",
                    "rightValue": "={{ $json.action && ($json.action.includes(\"insert\") || $json.action.includes(\"update\")) }}\n",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "25987ea4-af16-4928-bb01-69b5727e0aac"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update or Insert"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3a2a68fd-5d95-4267-a42d-ad3eca9e1f7e",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "same file"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -672,
        528
      ],
      "id": "56945d4e-7788-45c4-8d95-0bd3c5b27a9b",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "// Input: Multiple items from previous node\n// Assumes each item contains a field like fileName or mimeType.\n\n// Define lists of extensions and types\nconst documentExtensions = ['.txt', '.doc', '.docx', '.rtf', '.md'];\nconst pdfExtensions = ['.pdf'];\nconst imageExtensions = ['.jpg', '.jpeg', '.png', '.gif', '.bmp', '.tiff','.webp'];\n\nconst documentMimeTypes = [\n  'application/msword',\n  'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n  'text/plain',\n  'text/markdown',\n];\nconst pdfMimeTypes = ['application/pdf'];\nconst imageMimeTypes = ['image/jpeg', 'image/png', 'image/gif', 'image/bmp',\"image/webp\", 'image/tiff'];\n\nreturn items.map(item => {\n  const input = item.json;\n  const fileName = input['File Name'] || '';\n  const mimeType =  $('Loop Over Items').first().json.mimeType || '';\n  \n  // Classification logic\n  let fileType = 'unknown';\n  \n  const lowerName = fileName.toLowerCase();\n  \n  // Check for PDF first\n  if (pdfExtensions.some(ext => lowerName.endsWith(ext)) || pdfMimeTypes.includes(mimeType)) {\n    fileType = 'pdf';\n  } \n  // Then check for other documents\n  else if (documentExtensions.some(ext => lowerName.endsWith(ext)) || documentMimeTypes.includes(mimeType)) {\n    fileType = 'document';\n  } \n  // Then check for images\n  else if (imageExtensions.some(ext => lowerName.endsWith(ext)) || imageMimeTypes.includes(mimeType)) {\n    fileType = 'image';\n  }\n  \n  return {\n    json: {\n      ...input,\n      fileType,  // Add the classification to output\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        528
      ],
      "id": "85c14d81-0588-4698-bf39-567e32896efe",
      "name": "Check if file is Document or image"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1568,
        528
      ],
      "id": "ac2b8b2b-1fdb-4c0f-abef-931a64fac186",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DKvricd8htf05aZH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho",
          "mode": "list",
          "cachedResultName": "RAG_Dev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "File ID"
          ],
          "schema": [
            {
              "id": "File ID",
              "displayName": "File ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SHA256",
              "displayName": "SHA256",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed At",
              "displayName": "Processed At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Embedding Status",
              "displayName": "Embedding Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Embedded At",
              "displayName": "Embedded At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        928
      ],
      "id": "deadca92-8f72-4d2e-8270-7f5efcae7b1a",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CUW4rJo7fbBMKx3X",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ea63d25-395a-4af6-8f16-833d0aaf4f7c",
              "name": "File ID",
              "value": "={{ $('Loop Over Items').first().json.id }}",
              "type": "string"
            },
            {
              "id": "a8518065-d7e2-4951-802f-fde1f1236f76",
              "name": "File Name",
              "value": "={{ $('Loop Over Items').first().json.name }}",
              "type": "string"
            },
            {
              "id": "ed987c57-48d8-468b-ad3b-f97983fc8fc0",
              "name": "SHA256",
              "value": "={{ $json.debug.src_computedSHA256 }}",
              "type": "string"
            },
            {
              "id": "c4c65657-8180-4005-9018-f17d08853e11",
              "name": "Last Modified",
              "value": "={{ $('Loop Over Items').first().json.modifiedTime}}",
              "type": "string"
            },
            {
              "id": "598ea775-ad51-45a7-89ab-7b9a69015b0d",
              "name": "Processed At",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "128fd555-0a32-4c65-af1e-ba43140bc06f",
              "name": "Embedding Status",
              "value": "NA",
              "type": "string"
            },
            {
              "id": "488799e4-6478-4f3d-b803-a0745e769731",
              "name": "Embedded At",
              "value": "NA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        928
      ],
      "id": "4462a232-9b69-4964-a7c9-73be3b0de286",
      "name": "Set name of fields to match those in the sheet1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action && ($json.action.includes(\"insert\") || $json.action.includes(\"update\")).toBoolean() }}\n",
                    "rightValue": "={{\"update\" || \"insert\"}}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "25987ea4-af16-4928-bb01-69b5727e0aac"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update or Insert"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3a2a68fd-5d95-4267-a42d-ad3eca9e1f7e",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "same file"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -448,
        928
      ],
      "id": "eccd6bbc-a0e9-49c1-b788-b67f1497c7ff",
      "name": "Switch2"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        272,
        96
      ],
      "id": "1df13e03-470a-4982-a861-7fc1dc4a35a8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "3y8qd12HTxpQEOaS",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        368,
        320
      ],
      "id": "c8b88a0e-864f-4b5d-a5e9-43ea94343f3e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        544,
        448
      ],
      "id": "7d654b7a-9e8a-4fac-8822-3d5654d03b30",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        320
      ],
      "id": "c3702dde-52c2-4acc-a057-251e2d0ed796",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "0JvV9BvpexY9H1Gi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        976,
        1056
      ],
      "id": "056e1484-4be8-43c6-b240-e0bf4d80af5e",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "3y8qd12HTxpQEOaS",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1072,
        1280
      ],
      "id": "72217053-06aa-455d-91e1-a8354f549812",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1200,
        1392
      ],
      "id": "5db343db-3923-4de5-85e5-d02e278d9bc1",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        976,
        1360
      ],
      "id": "7165bd43-cb17-405b-8f2c-b20c8f309778",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "0JvV9BvpexY9H1Gi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $('Extract text').item.json.extractedText }}",
        "name": "={{ $('Loop Over Items').first().json.name }} text ocr",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "14ZHTKXIY9e4t0KCNAgoYfwWqaYPX2TLe",
          "mode": "list",
          "cachedResultName": "Untitled folder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14ZHTKXIY9e4t0KCNAgoYfwWqaYPX2TLe"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        928
      ],
      "id": "af2fd9c4-fb82-4030-9679-97f8a9ef7ed3",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DKvricd8htf05aZH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        592,
        928
      ],
      "id": "84aa1920-729b-4095-900a-9dd4d166b0a9",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DKvricd8htf05aZH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "'1KUQQ2zxEpWcWRWnlqzTIl_JVGJpdaesP' in parents and trashed = false",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4304,
        816
      ],
      "id": "fa575d2b-5551-4ce6-a478-ac6983fbae0e",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DKvricd8htf05aZH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho",
          "mode": "list",
          "cachedResultName": "RAG_Dev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4080,
        816
      ],
      "id": "a483df23-f5c2-4049-b992-49e93bd49618",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CUW4rJo7fbBMKx3X",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code node (JavaScript) - robust filter for new Drive files\n * - Uses outputs of \"Search files and folders2\" and \"Get row(s) in sheet\"\n * - Returns one output item per new file (full file JSON preserved)\n * - Skips folders and trashed items\n * - Skips files modified within STABILITY_SECONDS to avoid partial uploads\n *\n * Paste into an n8n Code node (JS).\n */\n\nconst STABILITY_SECONDS = 60; // skip files modified in the last X seconds (tuneable)\nconst DRIVE_NODE_NAME = 'Search files and folders2';\nconst SHEET_NODE_NAME = 'Get row(s) in sheet';\n\nfunction safeGetItemsFromNode(nodeName) {\n  try {\n    const items = $items(nodeName);\n    if (!items || items.length === 0) return [];\n    return items;\n  } catch (e) {\n    // node not found or no data\n    return [];\n  }\n}\n\n// 1) Collect Drive output safely\nlet driveRaw = safeGetItemsFromNode(DRIVE_NODE_NAME);\n\n// If Drive node returned a single item whose json is an array (common), expand it\nlet driveFiles = [];\nif (driveRaw.length === 1 && Array.isArray(driveRaw[0].json) && driveRaw[0].json.length > 0) {\n  // e.g. json is [ {file1}, {file2} ]\n  driveFiles = driveRaw[0].json.map(f => ({ json: f }));\n} else {\n  // Normal case: each item is an n8n item with .json containing file object\n  driveFiles = driveRaw.map(it => {\n    // defensive: ensure it.json is object\n    if (it && it.json && typeof it.json === 'object') return { json: it.json };\n    return null;\n  }).filter(Boolean);\n}\n\n// 2) Collect Sheet output safely and build processed set\nlet sheetRaw = safeGetItemsFromNode(SHEET_NODE_NAME);\nconst processedSet = new Set();\n\nfor (const rowItem of sheetRaw) {\n  if (!rowItem || !rowItem.json) continue;\n  const j = rowItem.json;\n\n  // Recognize a few possible column names (case-insensitive)\n  const candidates = ['File ID', 'file_id', 'fileId', 'FileID', 'file id'];\n  for (const c of candidates) {\n    if (Object.prototype.hasOwnProperty.call(j, c) && j[c]) {\n      processedSet.add(String(j[c]).trim());\n      break;\n    }\n  }\n\n  // Also scan all keys for something that looks like an id pattern (defensive)\n  if (Object.keys(j).length > 0 && !Array.from(processedSet).length) {\n    // try common column names lower-cased\n    for (const k of Object.keys(j)) {\n      if (k.toLowerCase().replace(/\\s+/g, '') === 'fileid' && j[k]) {\n        processedSet.add(String(j[k]).trim());\n        break;\n      }\n    }\n  }\n}\n\n// 3) Determine now and filter new files\nconst now = new Date();\nconst newFiles = [];\n\nfor (const item of driveFiles) {\n  try {\n    const file = item.json;\n    if (!file || typeof file !== 'object') continue;\n\n    // Only consider actual files (not folders) and non-trashed\n    const mime = String(file.mimeType || '').trim();\n    if (mime === 'application/vnd.google-apps.folder') continue;\n    if (file.trashed === true) continue;\n\n    // file id must exist\n    const fid = file.id || file.fileId || file['File ID'] || file['id'];\n    if (!fid) continue;\n\n    // Skip if already processed (exact id match)\n    if (processedSet.has(String(fid).trim())) continue;\n\n    // Stability check: skip files modified very recently\n    if (file.modifiedTime) {\n      const mt = new Date(file.modifiedTime);\n      if (!isNaN(mt.getTime())) {\n        const ageSec = (now - mt) / 1000;\n        if (ageSec < STABILITY_SECONDS) {\n          // Skip for now (will be picked next cron run)\n          continue;\n        }\n      }\n    }\n\n    // All good -> include full details; normalize id into json.id if missing\n    const out = Object.assign({}, file);\n    if (!out.id && fid) out.id = fid;\n\n    newFiles.push({ json: out });\n\n  } catch (err) {\n    // Defensive: if something odd happens with one item, don't break the whole run.\n    // Log to console (n8n will capture) and continue.\n    console.error('Error processing drive item, skipping it:', err);\n    continue;\n  }\n}\n\n// Return array of new files (each item.json is full file object)\nreturn newFiles;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3856,
        816
      ],
      "id": "adf4cd8f-8463-4885-aef1-f552886f984a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3632,
        816
      ],
      "id": "0f623033-88b7-41b7-9baa-9fa4a26a1c8e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        304
      ],
      "id": "502eb339-12e1-4d71-a51a-49acb28ef41c",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DKvricd8htf05aZH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho",
          "mode": "list",
          "cachedResultName": "RAG_Dev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File ID": "={{ $('Loop Over Items').first().json.id }}",
            "Embedding Status": "Done",
            "Embedded At": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "File ID"
          ],
          "schema": [
            {
              "id": "File ID",
              "displayName": "File ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SHA256",
              "displayName": "SHA256",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Processed At",
              "displayName": "Processed At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Embedding Status",
              "displayName": "Embedding Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Embedded At",
              "displayName": "Embedded At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        96
      ],
      "id": "00215115-0812-4eeb-880c-ca4b52507f0e",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CUW4rJo7fbBMKx3X",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho",
          "mode": "list",
          "cachedResultName": "RAG_Dev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File ID": "={{ $('Loop Over Items').first().json.id }}",
            "Embedding Status": "Done",
            "Embedded At": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "File ID"
          ],
          "schema": [
            {
              "id": "File ID",
              "displayName": "File ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SHA256",
              "displayName": "SHA256",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Processed At",
              "displayName": "Processed At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Embedding Status",
              "displayName": "Embedding Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Embedded At",
              "displayName": "Embedded At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        1040
      ],
      "id": "e5d519eb-4318-4414-9673-38591844e198",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CUW4rJo7fbBMKx3X",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -4560,
        800
      ],
      "id": "fe57d476-c6c5-4445-8b01-ce08cedae184",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## After every minute check the google drive folder for any update in files.",
        "height": 384,
        "width": 944
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4656,
        672
      ],
      "id": "1e2974b6-f379-477b-b4dd-7308c7be05d1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Check if the file is Image, document or PDF\n",
        "height": 352,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2176,
        416
      ],
      "id": "7179abb6-3808-4b25-bc60-ee39c43cd2df",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Update Google Sheet\n",
        "height": 368,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -496,
        336
      ],
      "id": "0ddae809-f5cd-4a2d-984e-545634e9677f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Convert to embeddings and save in pinecone vector store\n",
        "height": 576,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "628ac6f9-cadf-417a-a25b-e018ea0c0d55",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## OCR (Extract text from the Image files)",
        "height": 304,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1648,
        832
      ],
      "id": "c4159815-fade-4308-870e-ceaab528c11c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## To check if the file content has also changed or not (No further processing if for example only the name of file or locatiion changed.)\n\n",
        "height": 384,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1120,
        768
      ],
      "id": "d4640798-ceb4-4f8e-8af7-6e2e74dcbd17",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Update Google Sheet\n",
        "height": 368,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        784
      ],
      "id": "81e033de-2586-4c17-a098-3af0b8f2e2f5",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Save and download the extracted text from the image into google drive\n",
        "height": 352,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        784
      ],
      "id": "157b3746-b047-472e-b961-ce4bdc8190e9",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Convert to embeddings and save in pinecone vector store\n",
        "height": 576,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        960
      ],
      "id": "9901f299-65f1-49d4-b067-a0ca91641563",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful HR assistant designed to answer employee questions based on company policies.\n\nRetrieve relevant information from the provided internal documents and provide a concise, accurate, and informative answer to the employee's question.\n\nUse the tool called \"company_documents_tool\" to retrieve any information from the company's documents.\n\nIf the answer cannot be found in the provided documents, respond with \"I cannot find the answer in the available resources.\""
        }
      },
      "id": "9220d2c2-6de7-4460-a45b-ffd1d696539b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1040,
        2400
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "company_documents_tool",
        "description": "Retrieve information from any company documents"
      },
      "id": "83633f28-c1bb-487a-9791-bb9dbbb7e555",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        -832,
        2624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {}
      },
      "id": "de000adf-39e5-4f3e-8a34-63befd0d004b",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -944,
        2832
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "3y8qd12HTxpQEOaS",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a41c17c1-325e-4579-acf2-4c60066002bb",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -960,
        2624
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b3017ef2-8734-4ece-8387-28ec471a4c74",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -1344,
        2416
      ],
      "webhookId": "5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1088,
        2624
      ],
      "id": "205a1ad5-3608-4fba-9ed1-2458a03a5bb6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0JvV9BvpexY9H1Gi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -656,
        2832
      ],
      "id": "a3a98d28-58e9-440c-8287-4c6a333e0369",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "0JvV9BvpexY9H1Gi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -864,
        3040
      ],
      "id": "22fff64a-e2d4-40ba-9903-b3f10c16f9e9",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "0JvV9BvpexY9H1Gi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Document retrieval and Chat using Open AI",
        "height": 1056,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1456,
        2256
      ],
      "id": "04dd8062-fdc9-43f9-899f-a57a03b03fa7",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        -1328,
        1712
      ],
      "id": "0971ed2c-7001-4e2b-9fb0-91aa0f31c870",
      "name": "Extract text1",
      "credentials": {
        "mistralCloudApi": {
          "id": "kmAo0d98prRmHBR4",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1568,
        1712
      ],
      "id": "09408e12-7dde-409c-951a-1fcf3a381cba",
      "name": "Download file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DKvricd8htf05aZH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function sha256(ascii) {\n  function rightRotate(value, amount) {\n    return (value >>> amount) | (value << (32 - amount));\n  }\n\n  let mathPow = Math.pow;\n  let maxWord = mathPow(2, 32);\n  let lengthProperty = 'length';\n  let i, j;\n  let result = '';\n\n  let words = [];\n  let asciiBitLength = ascii[lengthProperty] * 8;\n\n  let hash = sha256.h = sha256.h || [];\n  let k = sha256.k = sha256.k || [];\n  let primeCounter = k[lengthProperty];\n\n  let isComposite = {};\n  for (let candidate = 2; primeCounter < 64; candidate++) {\n    if (!isComposite[candidate]) {\n      for (i = 0; i < 313; i += candidate) {\n        isComposite[i] = candidate;\n      }\n      hash[primeCounter] = (mathPow(candidate, 0.5) * maxWord) | 0;\n      k[primeCounter++] = (mathPow(candidate, 1 / 3) * maxWord) | 0;\n    }\n  }\n\n  ascii += '\\x80';\n  while ((ascii[lengthProperty] % 64) - 56) ascii += '\\x00';\n  for (i = 0; i < ascii[lengthProperty]; i++) {\n    j = ascii.charCodeAt(i);\n    if (j >> 8) return;\n    words[i >> 2] |= j << (((3 - i) % 4) * 8);\n  }\n  words[words[lengthProperty]] = (asciiBitLength / maxWord) | 0;\n  words[words[lengthProperty]] = asciiBitLength;\n\n  for (j = 0; j < words[lengthProperty];) {\n    let w = words.slice(j, (j += 16));\n    let oldHash = hash;\n    hash = hash.slice(0, 8);\n\n    for (i = 0; i < 64; i++) {\n      let w15 = w[i - 15],\n        w2 = w[i - 2];\n\n      let a = hash[0],\n        e = hash[4];\n      let temp1 =\n        hash[7] +\n        (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25)) +\n        ((e & hash[5]) ^ (~e & hash[6])) +\n        k[i] +\n        (w[i] =\n          i < 16\n            ? w[i]\n            : (w[i - 16] +\n                (rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3)) +\n                w[i - 7] +\n                (rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10))) |\n              0);\n      let temp2 =\n        (rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22)) +\n        ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]));\n\n      hash = [(temp1 + temp2) | 0].concat(hash);\n      hash[4] = (hash[4] + temp1) | 0;\n    }\n\n    for (i = 0; i < 8; i++) hash[i] = (hash[i] + oldHash[i]) | 0;\n  }\n\n  for (i = 0; i < 8; i++) {\n    for (j = 3; j + 1; j--) {\n      let b = (hash[i] >> (j * 8)) & 255;\n      result += (b < 16 ? 0 : '') + b.toString(16);\n    }\n  }\n  return result;\n}\n\n// Process n8n items\nconst results = [];\nfor (const item of $input.all()) {\n  const markdown = item.json?.pages?.[0]?.markdown || item.json?.extractedText;\n  if (!markdown) {\n    results.push({ json: { ...item.json, error: \"No markdown found\" } });\n    continue;\n  }\n\n  const hash = sha256(markdown);\n  results.push({ json: { ...item.json, computedSHA256: hash } });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        1712
      ],
      "id": "86c7245f-2817-4469-969c-313c01322776",
      "name": "Compute SHA2"
    },
    {
      "parameters": {
        "jsCode": "// Robust \"Check update or create1\" node\n// Safe, defensive reads; returns one item array with action: insert/update/skip\n\n// helper\nconst norm = (v) => {\n  if (v === undefined || v === null) return \"\";\n  return String(v).trim();\n};\n\n// 1) Read compute node output safely\nlet computeNodeJson = null;\ntry {\n  const computeItems = $items(\"Compute SHA2\") || $items(\"Compute SHA\") || [];\n  computeNodeJson = Array.isArray(computeItems) && computeItems.length > 0 ? (computeItems[0].json ?? null) : null;\n} catch (e) {\n  computeNodeJson = null;\n}\n\n// As a fallback, allow current item's json (in case upstream wiring differs)\nif (!computeNodeJson) {\n  try {\n    computeNodeJson = $json ?? null;\n  } catch (e) {\n    computeNodeJson = null;\n  }\n}\n\n// 2) Read sheet node output safely (try both common names)\nlet sheetNodeJson = null;\ntry {\n  const tryNames = [\"File ID already exists1\", \"Check if File ID already exists1\", \"Check if File ID already exists\"];\n  for (const n of tryNames) {\n    try {\n      const items = $items(n) || [];\n      if (Array.isArray(items) && items.length > 0 && items[0].json && Object.keys(items[0].json).length > 0) {\n        sheetNodeJson = items[0].json;\n        break;\n      }\n      // sometimes node exposes .json directly\n      const nodeObj = $node[n];\n      if (nodeObj && nodeObj.json && Object.keys(nodeObj.json).length > 0) {\n        // if it is an array take first element\n        sheetNodeJson = Array.isArray(nodeObj.json) ? nodeObj.json[0] : nodeObj.json;\n        if (sheetNodeJson) break;\n      }\n    } catch (inner) {\n      // continue trying other names\n    }\n  }\n} catch (e) {\n  sheetNodeJson = null;\n}\n\n// 3) Extract canonical fields\nconst src_fileId = norm(computeNodeJson?.id ?? computeNodeJson?.fileId ?? computeNodeJson?.[\"File ID\"] ?? \"\");\nconst src_computedSHA256 = norm(computeNodeJson?.computedSHA256 ?? computeNodeJson?.computedSHA ?? \"\");\nconst src_modifiedTime = norm(computeNodeJson?.modifiedTime ?? computeNodeJson?.[\"Last Modified\"] ?? \"\");\n\nconst sheet_fileId = norm(sheetNodeJson?.[\"File ID\"] ?? sheetNodeJson?.fileId ?? sheetNodeJson?.id ?? \"\");\nconst sheet_SHA256 = norm(sheetNodeJson?.[\"SHA256\"] ?? sheetNodeJson?.SHA256 ?? sheetNodeJson?.sha256 ?? \"\");\nconst sheet_modified = norm(sheetNodeJson?.[\"Last Modified\"] ?? sheetNodeJson?.lastModified ?? sheetNodeJson?.modifiedTime ?? \"\");\n\n// 4) Decision logic per your rules\nlet action = \"insert\";\nlet reason = \"\";\n\nif (!sheet_fileId) {\n  action = \"insert\";\n  reason = \"No matching row returned by File ID already exists1 (sheet empty for this file id).\";\n} else {\n  // sheet row exists\n  if (sheet_SHA256 && src_computedSHA256 && sheet_SHA256 === src_computedSHA256) {\n    action = \"skip\";\n    reason = \"SHA256 from sheet matches computedSHA256 (no change).\";\n  } else {\n    action = \"update\";\n    reason = \"Sheet row exists but SHA256 differs from computedSHA256 (update required).\";\n  }\n}\n\n// 5) Return required array of items\nreturn [\n  {\n    json: {\n      action,\n      reason,\n      debug: {\n        src_fileId,\n        src_computedSHA256,\n        src_modifiedTime,\n        sheet_fileId,\n        sheet_SHA256,\n        sheet_modified,\n        sheetRowPresent: !!sheet_fileId,\n        computeNodeFound: !!computeNodeJson,\n        sheetNodeFound: !!sheetNodeJson\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        1712
      ],
      "id": "74a63d34-cf5a-4219-a2a9-c7492c83d62f",
      "name": "Check update or create2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho",
          "mode": "list",
          "cachedResultName": "RAG_Dev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "File ID",
              "lookupValue": "={{ $('Loop Over Items').first().json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -880,
        1712
      ],
      "id": "db29db86-5d0b-426c-ae29-cd40b677b0c0",
      "name": "Check if File ID already exists2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CUW4rJo7fbBMKx3X",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho",
          "mode": "list",
          "cachedResultName": "RAG_Dev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "File ID"
          ],
          "schema": [
            {
              "id": "File ID",
              "displayName": "File ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SHA256",
              "displayName": "SHA256",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed At",
              "displayName": "Processed At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Embedding Status",
              "displayName": "Embedding Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Embedded At",
              "displayName": "Embedded At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        1712
      ],
      "id": "b0053315-7edb-42b8-9c4d-cf16a4b45f3e",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CUW4rJo7fbBMKx3X",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ea63d25-395a-4af6-8f16-833d0aaf4f7c",
              "name": "File ID",
              "value": "={{ $('Loop Over Items').first().json.id }}",
              "type": "string"
            },
            {
              "id": "a8518065-d7e2-4951-802f-fde1f1236f76",
              "name": "File Name",
              "value": "={{ $('Loop Over Items').first().json.name }}",
              "type": "string"
            },
            {
              "id": "ed987c57-48d8-468b-ad3b-f97983fc8fc0",
              "name": "SHA256",
              "value": "={{ $json.debug.src_computedSHA256 }}",
              "type": "string"
            },
            {
              "id": "c4c65657-8180-4005-9018-f17d08853e11",
              "name": "Last Modified",
              "value": "={{ $('Loop Over Items').first().json.modifiedTime}}",
              "type": "string"
            },
            {
              "id": "598ea775-ad51-45a7-89ab-7b9a69015b0d",
              "name": "Processed At",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "128fd555-0a32-4c65-af1e-ba43140bc06f",
              "name": "Embedding Status",
              "value": "NA",
              "type": "string"
            },
            {
              "id": "488799e4-6478-4f3d-b803-a0745e769731",
              "name": "Embedded At",
              "value": "NA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        1712
      ],
      "id": "2c0cb384-e57c-4cb1-b8c8-2fa821354caf",
      "name": "Set name of fields to match those in the sheet2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action && ($json.action.includes(\"insert\") || $json.action.includes(\"update\")).toBoolean() }}\n",
                    "rightValue": "={{\"update\" || \"insert\"}}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "25987ea4-af16-4928-bb01-69b5727e0aac"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update or Insert"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3a2a68fd-5d95-4267-a42d-ad3eca9e1f7e",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "same file"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -432,
        1712
      ],
      "id": "b4efd323-d76e-4e28-b7fd-d7e23e663e0f",
      "name": "Switch3"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        992,
        1840
      ],
      "id": "8958c797-4650-4d5d-aa08-9a0232e7bb04",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "3y8qd12HTxpQEOaS",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1088,
        2064
      ],
      "id": "f4632df0-6b82-40ab-9164-2cb5832e06a8",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1216,
        2176
      ],
      "id": "b0ec2698-0f55-4a8c-aaf0-30a3503e5572",
      "name": "Recursive Character Text Splitter2"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        2144
      ],
      "id": "37106d73-ecd0-40a8-823f-14e4029f8b84",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "0JvV9BvpexY9H1Gi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $('Extract text1').item.json.extractedText }}",
        "name": "={{ $('Loop Over Items').first().json.name }} text ocr",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "14ZHTKXIY9e4t0KCNAgoYfwWqaYPX2TLe",
          "mode": "list",
          "cachedResultName": "Untitled folder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14ZHTKXIY9e4t0KCNAgoYfwWqaYPX2TLe"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        1712
      ],
      "id": "d00e28b6-dcbb-470c-a458-866e5f6a3a00",
      "name": "Create file from text1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DKvricd8htf05aZH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        1712
      ],
      "id": "9fcab09b-dc0a-4aaa-b188-605a2054a779",
      "name": "Download file5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DKvricd8htf05aZH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho",
          "mode": "list",
          "cachedResultName": "RAG_Dev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File ID": "={{ $('Loop Over Items').first().json.id }}",
            "Embedding Status": "Done",
            "Embedded At": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "File ID"
          ],
          "schema": [
            {
              "id": "File ID",
              "displayName": "File ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SHA256",
              "displayName": "SHA256",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Processed At",
              "displayName": "Processed At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Embedding Status",
              "displayName": "Embedding Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Embedded At",
              "displayName": "Embedded At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        1824
      ],
      "id": "bf14fbde-2546-418b-8f6f-0db380521864",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CUW4rJo7fbBMKx3X",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## OCR (Extract text from the pdf files)",
        "height": 304,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1632,
        1616
      ],
      "id": "c35ac3c2-c63e-4a07-8016-f15d440eef5e",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## To check if the file content has also changed or not (No further processing if for example only the name of file or locatiion changed.)\n\n",
        "height": 384,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1104,
        1552
      ],
      "id": "8787ea83-3804-4d94-b15c-b8df6e93e301",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Update Google Sheet\n",
        "height": 368,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        1568
      ],
      "id": "84db1f3c-ddc3-4ddc-953e-7d1b7d318f37",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Save and download the extracted text from the PDF into google drive\n",
        "height": 352,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        1568
      ],
      "id": "af2f2b41-cd2a-4b65-82bf-f8a347520d2e",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Convert to embeddings and save in pinecone vector store\n",
        "height": 576,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        1744
      ],
      "id": "13fc9ed9-6a06-47cb-895f-a8277bc8f395",
      "name": "Sticky Note16"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Check if the file is completely uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Check if file is Document or image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute SHA": {
      "main": [
        [
          {
            "node": "Check if File ID already exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if File ID already exists": {
      "main": [
        [
          {
            "node": "Check update or create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if the file is completely uploaded": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text": {
      "main": [
        [
          {
            "node": "Compute SHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute SHA1": {
      "main": [
        [
          {
            "node": "Check if File ID already exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if File ID already exists1": {
      "main": [
        [
          {
            "node": "Check update or create1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set name of fields to match those in the sheet": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check update or create": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Set name of fields to match those in the sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file is Document or image": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Compute SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set name of fields to match those in the sheet1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Set name of fields to match those in the sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check update or create1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create file from text": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract text1": {
      "main": [
        [
          {
            "node": "Compute SHA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file4": {
      "main": [
        [
          {
            "node": "Extract text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute SHA2": {
      "main": [
        [
          {
            "node": "Check if File ID already exists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check update or create2": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if File ID already exists2": {
      "main": [
        [
          {
            "node": "Check update or create2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "node": "Create file from text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set name of fields to match those in the sheet2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Set name of fields to match those in the sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Create file from text1": {
      "main": [
        [
          {
            "node": "Download file5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file5": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b62f9a74-8d59-45f3-9b26-b7fdd8de4e99",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3e69ce4bf9c5dee76adf502c086e5cdb3dd340a9cb515212faed2cb1e455db6"
  },
  "id": "R0HFGlrCCzDsfrnw",
  "tags": []
}