RAG/old/My workflow 2 (1).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1KUQQ2zxEpWcWRWnlqzTIl_JVGJpdaesP",
          "mode": "list",
          "cachedResultName": "RAG testing",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KUQQ2zxEpWcWRWnlqzTIl_JVGJpdaesP"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -3136,
        -72
      ],
      "id": "a2c2831a-5057-4d2d-bfaa-c6d97691edaf",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "httgFlDJ2NT0KnCx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1KUQQ2zxEpWcWRWnlqzTIl_JVGJpdaesP",
          "mode": "list",
          "cachedResultName": "RAG testing",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KUQQ2zxEpWcWRWnlqzTIl_JVGJpdaesP"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -3136,
        120
      ],
      "id": "5d304cd5-b7b4-441d-a2a5-162c25785a2b",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "httgFlDJ2NT0KnCx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2912,
        24
      ],
      "id": "87ae71ee-9592-4932-8e99-9b713d91582a",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2464,
        -48
      ],
      "id": "3a7debf2-241d-4f3b-ad3e-3028b7c1160c",
      "name": "Wait",
      "webhookId": "c6f4c924-2f1e-4b23-949d-bb662f1f79ea"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json[\"name\"] }}",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2688,
        24
      ],
      "id": "871fd913-119f-45b8-a509-9ec44306dce5",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "httgFlDJ2NT0KnCx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json[\"name\"] }}",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2240,
        -48
      ],
      "id": "0c789386-c7eb-45c9-9c0c-e6f28c715ea8",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "httgFlDJ2NT0KnCx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d65a8a3-de2c-41ec-a252-3bc948f65a9e",
              "leftValue": "={{ $json.match }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1792,
        24
      ],
      "id": "6bb7b200-7a9b-4096-9b48-ef8bd28543db",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "function sha256(ascii) {\n  function rightRotate(value, amount) {\n    return (value >>> amount) | (value << (32 - amount));\n  }\n\n  let mathPow = Math.pow;\n  let maxWord = mathPow(2, 32);\n  let lengthProperty = 'length';\n  let i, j; // Used as a counter across the whole file\n  let result = '';\n\n  let words = [];\n  let asciiBitLength = ascii[lengthProperty] * 8;\n\n  let hash = sha256.h = sha256.h || [];\n  let k = sha256.k = sha256.k || [];\n  let primeCounter = k[lengthProperty];\n\n  let isComposite = {};\n  for (let candidate = 2; primeCounter < 64; candidate++) {\n    if (!isComposite[candidate]) {\n      for (i = 0; i < 313; i += candidate) {\n        isComposite[i] = candidate;\n      }\n      hash[primeCounter] = (mathPow(candidate, 0.5) * maxWord) | 0;\n      k[primeCounter++] = (mathPow(candidate, 1 / 3) * maxWord) | 0;\n    }\n  }\n\n  ascii += '\\x80'; // Append '1' bit (plus zero padding)\n  while ((ascii[lengthProperty] % 64) - 56) ascii += '\\x00';\n  for (i = 0; i < ascii[lengthProperty]; i++) {\n    j = ascii.charCodeAt(i);\n    if (j >> 8) return; // Only ASCII allowed\n    words[i >> 2] |= j << (((3 - i) % 4) * 8);\n  }\n  words[words[lengthProperty]] = (asciiBitLength / maxWord) | 0;\n  words[words[lengthProperty]] = asciiBitLength;\n\n  for (j = 0; j < words[lengthProperty];) {\n    let w = words.slice(j, (j += 16));\n    let oldHash = hash;\n    hash = hash.slice(0, 8);\n\n    for (i = 0; i < 64; i++) {\n      let w15 = w[i - 15],\n        w2 = w[i - 2];\n\n      let a = hash[0],\n        e = hash[4];\n      let temp1 =\n        hash[7] +\n        (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25)) +\n        ((e & hash[5]) ^ (~e & hash[6])) +\n        k[i] +\n        (w[i] =\n          i < 16\n            ? w[i]\n            : (w[i - 16] +\n                (rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3)) +\n                w[i - 7] +\n                (rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10))) |\n              0);\n      let temp2 =\n        (rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22)) +\n        ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]));\n\n      hash = [(temp1 + temp2) | 0].concat(hash);\n      hash[4] = (hash[4] + temp1) | 0;\n    }\n\n    for (i = 0; i < 8; i++) hash[i] = (hash[i] + oldHash[i]) | 0;\n  }\n\n  for (i = 0; i < 8; i++) {\n    for (j = 3; j + 1; j--) {\n      let b = (hash[i] >> (j * 8)) & 255;\n      result += (b < 16 ? 0 : '') + b.toString(16);\n    }\n  }\n  return result;\n}\n\n// Process n8n item\nconst results = [];\nfor (const item of $input.all()) {\n  if (!item.binary || !item.binary.data) {\n    results.push({ json: { error: \"No file data found\" } });\n    continue;\n  }\n\n  const base64String = item.binary.data.data || item.binary.data;\n  const ascii = Buffer.from(base64String, 'base64').toString('binary');\n  const hash = sha256(ascii);\n  results.push({ json: { ...item.json, computedSHA256: hash } });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        -72
      ],
      "id": "e77cf04d-9130-46f1-8bf3-ac2767fea33f",
      "name": "Compute SHA"
    },
    {
      "parameters": {
        "jsCode": "// Robust \"Check update or create1\" node\n// Safe, defensive reads; returns one item array with action: insert/update/skip\n\n// helper\nconst norm = (v) => {\n  if (v === undefined || v === null) return \"\";\n  return String(v).trim();\n};\n\n// 1) Read compute node output safely\nlet computeNodeJson = null;\ntry {\n  const computeItems = $items(\"Compute SHA\") || $items(\"Compute SHA1\") || [];\n  computeNodeJson = Array.isArray(computeItems) && computeItems.length > 0 ? (computeItems[0].json ?? null) : null;\n} catch (e) {\n  computeNodeJson = null;\n}\n\n// As a fallback, allow current item's json (in case upstream wiring differs)\nif (!computeNodeJson) {\n  try {\n    computeNodeJson = $json ?? null;\n  } catch (e) {\n    computeNodeJson = null;\n  }\n}\n\n// 2) Read sheet node output safely (try both common names)\nlet sheetNodeJson = null;\ntry {\n  const tryNames = [\"File ID already exists1\", \"Check if File ID already exists1\", \"Check if File ID already exists\"];\n  for (const n of tryNames) {\n    try {\n      const items = $items(n) || [];\n      if (Array.isArray(items) && items.length > 0 && items[0].json && Object.keys(items[0].json).length > 0) {\n        sheetNodeJson = items[0].json;\n        break;\n      }\n      // sometimes node exposes .json directly\n      const nodeObj = $node[n];\n      if (nodeObj && nodeObj.json && Object.keys(nodeObj.json).length > 0) {\n        // if it is an array take first element\n        sheetNodeJson = Array.isArray(nodeObj.json) ? nodeObj.json[0] : nodeObj.json;\n        if (sheetNodeJson) break;\n      }\n    } catch (inner) {\n      // continue trying other names\n    }\n  }\n} catch (e) {\n  sheetNodeJson = null;\n}\n\n// 3) Extract canonical fields\nconst src_fileId = norm(computeNodeJson?.id ?? computeNodeJson?.fileId ?? computeNodeJson?.[\"File ID\"] ?? \"\");\nconst src_computedSHA256 = norm(computeNodeJson?.computedSHA256 ?? computeNodeJson?.computedSHA ?? \"\");\nconst src_modifiedTime = norm(computeNodeJson?.modifiedTime ?? computeNodeJson?.[\"Last Modified\"] ?? \"\");\n\nconst sheet_fileId = norm(sheetNodeJson?.[\"File ID\"] ?? sheetNodeJson?.fileId ?? sheetNodeJson?.id ?? \"\");\nconst sheet_SHA256 = norm(sheetNodeJson?.[\"SHA256\"] ?? sheetNodeJson?.SHA256 ?? sheetNodeJson?.sha256 ?? \"\");\nconst sheet_modified = norm(sheetNodeJson?.[\"Last Modified\"] ?? sheetNodeJson?.lastModified ?? sheetNodeJson?.modifiedTime ?? \"\");\n\n// 4) Decision logic per your rules\nlet action = \"insert\";\nlet reason = \"\";\n\nif (!sheet_fileId) {\n  action = \"insert\";\n  reason = \"No matching row returned by File ID already exists1 (sheet empty for this file id).\";\n} else {\n  // sheet row exists\n  if (sheet_SHA256 && src_computedSHA256 && sheet_SHA256 === src_computedSHA256) {\n    action = \"skip\";\n    reason = \"SHA256 from sheet matches computedSHA256 (no change).\";\n  } else {\n    action = \"update\";\n    reason = \"Sheet row exists but SHA256 differs from computedSHA256 (update required).\";\n  }\n}\n\n// 5) Return required array of items\nreturn [\n  {\n    json: {\n      action,\n      reason,\n      debug: {\n        src_fileId,\n        src_computedSHA256,\n        src_modifiedTime,\n        sheet_fileId,\n        sheet_SHA256,\n        sheet_modified,\n        sheetRowPresent: !!sheet_fileId,\n        computeNodeFound: !!computeNodeJson,\n        sheetNodeFound: !!sheetNodeJson\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -72
      ],
      "id": "07112b31-9755-4d0a-ac4b-e150e6bf126e",
      "name": "Check update or create"
    },
    {
      "parameters": {
        "content": "## To check if the file is completely uploaded or not\n",
        "height": 320,
        "width": 1024
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2704,
        -136
      ],
      "id": "3377b9d6-85c8-4c85-99ea-c21561be3a8d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## To check if the file content has also changed or not\n\n",
        "height": 368,
        "width": 864
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1120,
        -272
      ],
      "id": "a5eb4ed9-6da1-4b39-b712-72963b08c7c5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho",
          "mode": "list",
          "cachedResultName": "RAG_Dev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "File ID",
              "lookupValue": "={{ $('Merge').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -672,
        -72
      ],
      "id": "1de910a1-2f9a-46b0-b89c-c6f110350764",
      "name": "Check if File ID already exists",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "isfFoXqkawbtEbtG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get both outputs from your two Search nodes\nconst file1Data = $json[\"Search files and folders\"] || $items(\"Search files and folders\")[0]?.json;\nconst file2Data = $json[\"Search files and folders1\"] || $items(\"Search files and folders1\")[0]?.json;\n\n// Handle if nodes return arrays instead of plain objects\nconst file1 = Array.isArray(file1Data) ? file1Data[0] : file1Data;\nconst file2 = Array.isArray(file2Data) ? file2Data[0] : file2Data;\n\n// Safety checks\nif (!file1 || !file2) {\n  return [\n    {\n      json: {\n        match: false,\n        reason: \"Missing file data from one or both searches.\",\n        hasFile1: !!file1,\n        hasFile2: !!file2,\n      },\n    },\n  ];\n}\n\n// Compare stable properties\nconst sameChecksum = file1.md5Checksum === file2.md5Checksum;\nconst sameSize = file1.size === file2.size;\nconst sameModifiedTime = file1.modifiedTime === file2.modifiedTime;\n\n// Return result\nreturn [\n  {\n    json: {\n      match: sameChecksum && sameSize && sameModifiedTime,\n      md5Changed: !sameChecksum,\n      sizeChanged: !sameSize,\n      modifiedTimeChanged: !sameModifiedTime,\n      file1Modified: file1.modifiedTime,\n      file2Modified: file2.modifiedTime,\n      file1Size: file1.size,\n      file2Size: file2.size,\n      file1Md5: file1.md5Checksum,\n      file2Md5: file2.md5Checksum,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        -48
      ],
      "id": "d00a3587-28c6-44a7-9402-3bd56c3a07f9",
      "name": "Check if the file is completely uploaded"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f4f48544-6f75-40a6-afdd-7406aab50c18"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d6fe868f-72e2-4078-b02e-ded8c46bd85a",
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1344,
        24
      ],
      "id": "731717c2-9581-4e40-a63a-c2ac13848e53",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentType": "image_url",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        -896,
        224
      ],
      "id": "b1c84462-2a13-4cdb-a75a-d8c84de3e947",
      "name": "Extract text",
      "credentials": {
        "mistralCloudApi": {
          "id": "4QEwXeLZzozQp31j",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Merge').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1120,
        224
      ],
      "id": "2bb71faf-7915-45b5-a338-bbec4f92b661",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "httgFlDJ2NT0KnCx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function sha256(ascii) {\n  function rightRotate(value, amount) {\n    return (value >>> amount) | (value << (32 - amount));\n  }\n\n  let mathPow = Math.pow;\n  let maxWord = mathPow(2, 32);\n  let lengthProperty = 'length';\n  let i, j;\n  let result = '';\n\n  let words = [];\n  let asciiBitLength = ascii[lengthProperty] * 8;\n\n  let hash = sha256.h = sha256.h || [];\n  let k = sha256.k = sha256.k || [];\n  let primeCounter = k[lengthProperty];\n\n  let isComposite = {};\n  for (let candidate = 2; primeCounter < 64; candidate++) {\n    if (!isComposite[candidate]) {\n      for (i = 0; i < 313; i += candidate) {\n        isComposite[i] = candidate;\n      }\n      hash[primeCounter] = (mathPow(candidate, 0.5) * maxWord) | 0;\n      k[primeCounter++] = (mathPow(candidate, 1 / 3) * maxWord) | 0;\n    }\n  }\n\n  ascii += '\\x80';\n  while ((ascii[lengthProperty] % 64) - 56) ascii += '\\x00';\n  for (i = 0; i < ascii[lengthProperty]; i++) {\n    j = ascii.charCodeAt(i);\n    if (j >> 8) return;\n    words[i >> 2] |= j << (((3 - i) % 4) * 8);\n  }\n  words[words[lengthProperty]] = (asciiBitLength / maxWord) | 0;\n  words[words[lengthProperty]] = asciiBitLength;\n\n  for (j = 0; j < words[lengthProperty];) {\n    let w = words.slice(j, (j += 16));\n    let oldHash = hash;\n    hash = hash.slice(0, 8);\n\n    for (i = 0; i < 64; i++) {\n      let w15 = w[i - 15],\n        w2 = w[i - 2];\n\n      let a = hash[0],\n        e = hash[4];\n      let temp1 =\n        hash[7] +\n        (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25)) +\n        ((e & hash[5]) ^ (~e & hash[6])) +\n        k[i] +\n        (w[i] =\n          i < 16\n            ? w[i]\n            : (w[i - 16] +\n                (rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3)) +\n                w[i - 7] +\n                (rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10))) |\n              0);\n      let temp2 =\n        (rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22)) +\n        ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]));\n\n      hash = [(temp1 + temp2) | 0].concat(hash);\n      hash[4] = (hash[4] + temp1) | 0;\n    }\n\n    for (i = 0; i < 8; i++) hash[i] = (hash[i] + oldHash[i]) | 0;\n  }\n\n  for (i = 0; i < 8; i++) {\n    for (j = 3; j + 1; j--) {\n      let b = (hash[i] >> (j * 8)) & 255;\n      result += (b < 16 ? 0 : '') + b.toString(16);\n    }\n  }\n  return result;\n}\n\n// Process n8n items\nconst results = [];\nfor (const item of $input.all()) {\n  const markdown = item.json?.pages?.[0]?.markdown || item.json?.extractedText;\n  if (!markdown) {\n    results.push({ json: { ...item.json, error: \"No markdown found\" } });\n    continue;\n  }\n\n  const hash = sha256(markdown);\n  results.push({ json: { ...item.json, computedSHA256: hash } });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        224
      ],
      "id": "392da110-38a1-405b-92a4-212a94275b16",
      "name": "Compute SHA1"
    },
    {
      "parameters": {
        "jsCode": "// Robust \"Check update or create1\" node\n// Safe, defensive reads; returns one item array with action: insert/update/skip\n\n// helper\nconst norm = (v) => {\n  if (v === undefined || v === null) return \"\";\n  return String(v).trim();\n};\n\n// 1) Read compute node output safely\nlet computeNodeJson = null;\ntry {\n  const computeItems = $items(\"Compute SHA1\") || $items(\"Compute SHA\") || [];\n  computeNodeJson = Array.isArray(computeItems) && computeItems.length > 0 ? (computeItems[0].json ?? null) : null;\n} catch (e) {\n  computeNodeJson = null;\n}\n\n// As a fallback, allow current item's json (in case upstream wiring differs)\nif (!computeNodeJson) {\n  try {\n    computeNodeJson = $json ?? null;\n  } catch (e) {\n    computeNodeJson = null;\n  }\n}\n\n// 2) Read sheet node output safely (try both common names)\nlet sheetNodeJson = null;\ntry {\n  const tryNames = [\"File ID already exists1\", \"Check if File ID already exists1\", \"Check if File ID already exists\"];\n  for (const n of tryNames) {\n    try {\n      const items = $items(n) || [];\n      if (Array.isArray(items) && items.length > 0 && items[0].json && Object.keys(items[0].json).length > 0) {\n        sheetNodeJson = items[0].json;\n        break;\n      }\n      // sometimes node exposes .json directly\n      const nodeObj = $node[n];\n      if (nodeObj && nodeObj.json && Object.keys(nodeObj.json).length > 0) {\n        // if it is an array take first element\n        sheetNodeJson = Array.isArray(nodeObj.json) ? nodeObj.json[0] : nodeObj.json;\n        if (sheetNodeJson) break;\n      }\n    } catch (inner) {\n      // continue trying other names\n    }\n  }\n} catch (e) {\n  sheetNodeJson = null;\n}\n\n// 3) Extract canonical fields\nconst src_fileId = norm(computeNodeJson?.id ?? computeNodeJson?.fileId ?? computeNodeJson?.[\"File ID\"] ?? \"\");\nconst src_computedSHA256 = norm(computeNodeJson?.computedSHA256 ?? computeNodeJson?.computedSHA ?? \"\");\nconst src_modifiedTime = norm(computeNodeJson?.modifiedTime ?? computeNodeJson?.[\"Last Modified\"] ?? \"\");\n\nconst sheet_fileId = norm(sheetNodeJson?.[\"File ID\"] ?? sheetNodeJson?.fileId ?? sheetNodeJson?.id ?? \"\");\nconst sheet_SHA256 = norm(sheetNodeJson?.[\"SHA256\"] ?? sheetNodeJson?.SHA256 ?? sheetNodeJson?.sha256 ?? \"\");\nconst sheet_modified = norm(sheetNodeJson?.[\"Last Modified\"] ?? sheetNodeJson?.lastModified ?? sheetNodeJson?.modifiedTime ?? \"\");\n\n// 4) Decision logic per your rules\nlet action = \"insert\";\nlet reason = \"\";\n\nif (!sheet_fileId) {\n  action = \"insert\";\n  reason = \"No matching row returned by File ID already exists1 (sheet empty for this file id).\";\n} else {\n  // sheet row exists\n  if (sheet_SHA256 && src_computedSHA256 && sheet_SHA256 === src_computedSHA256) {\n    action = \"skip\";\n    reason = \"SHA256 from sheet matches computedSHA256 (no change).\";\n  } else {\n    action = \"update\";\n    reason = \"Sheet row exists but SHA256 differs from computedSHA256 (update required).\";\n  }\n}\n\n// 5) Return required array of items\nreturn [\n  {\n    json: {\n      action,\n      reason,\n      debug: {\n        src_fileId,\n        src_computedSHA256,\n        src_modifiedTime,\n        sheet_fileId,\n        sheet_SHA256,\n        sheet_modified,\n        sheetRowPresent: !!sheet_fileId,\n        computeNodeFound: !!computeNodeJson,\n        sheetNodeFound: !!sheetNodeJson\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        224
      ],
      "id": "7a365e18-391e-49cb-9d7f-2ba56dca42cb",
      "name": "Check update or create1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho",
          "mode": "list",
          "cachedResultName": "RAG_Dev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "File ID",
              "lookupValue": "={{ $('Merge').first().json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        224
      ],
      "id": "6ecbed64-dad3-48eb-99e4-6415016bb057",
      "name": "Check if File ID already exists1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "isfFoXqkawbtEbtG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho",
          "mode": "list",
          "cachedResultName": "RAG_Dev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "File ID"
          ],
          "schema": [
            {
              "id": "File ID",
              "displayName": "File ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SHA256",
              "displayName": "SHA256",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed At",
              "displayName": "Processed At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Embedding Status",
              "displayName": "Embedding Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Embedded At",
              "displayName": "Embedded At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -72
      ],
      "id": "c7bcb026-f3b4-43d8-a43c-7987221805f8",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "isfFoXqkawbtEbtG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ea63d25-395a-4af6-8f16-833d0aaf4f7c",
              "name": "File ID",
              "value": "={{ $('Merge').item.json.id }}",
              "type": "string"
            },
            {
              "id": "a8518065-d7e2-4951-802f-fde1f1236f76",
              "name": "File Name",
              "value": "={{ $('Merge').item.json.name }}",
              "type": "string"
            },
            {
              "id": "ed987c57-48d8-468b-ad3b-f97983fc8fc0",
              "name": "SHA256",
              "value": "={{ $json.debug.src_computedSHA256 }}",
              "type": "string"
            },
            {
              "id": "c4c65657-8180-4005-9018-f17d08853e11",
              "name": "Last Modified",
              "value": "={{ $('Merge').item.json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "598ea775-ad51-45a7-89ab-7b9a69015b0d",
              "name": "Processed At",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "128fd555-0a32-4c65-af1e-ba43140bc06f",
              "name": "Embedding Status",
              "value": "NA",
              "type": "string"
            },
            {
              "id": "488799e4-6478-4f3d-b803-a0745e769731",
              "name": "Embedded At",
              "value": "NA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -72
      ],
      "id": "800da502-ac6f-455f-8bdc-0e9ff36ef82d",
      "name": "Set name of fields to match those in the sheet"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "={{\"update\" || \"insert\"}}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "25987ea4-af16-4928-bb01-69b5727e0aac"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update or Insert"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3a2a68fd-5d95-4267-a42d-ad3eca9e1f7e",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "same file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -224,
        -72
      ],
      "id": "db2644c1-287f-469a-96af-189f6002b347",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "// Input: Multiple items from previous node\n// Assumes each item contains a field like fileName or mimeType.\n\n// Define lists of extensions and types\nconst documentExtensions = ['.txt', '.doc', '.docx', '.pdf', '.rtf', '.md'];\nconst imageExtensions = ['.jpg', '.jpeg', '.png', '.gif', '.bmp', '.tiff','.webp'];\nconst documentMimeTypes = [\n  'application/pdf',\n  'application/msword',\n  'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n  'text/plain',\n  'text/markdown',\n];\nconst imageMimeTypes = ['image/jpeg', 'image/png', 'image/gif', 'image/bmp',\"image/webp\", 'image/tiff'];\n\nreturn items.map(item => {\n  const input = item.json;\n  const fileName = input['File Name'] || '';\n  const mimeType = $('Merge').first().json.mimeType || '';\n  \n  // Classification logic\n  let fileType = 'unknown';\n  \n  const lowerName = fileName.toLowerCase();\n  \n  if (documentExtensions.some(ext => lowerName.endsWith(ext)) || documentMimeTypes.includes(mimeType)) {\n    fileType = 'document';\n  } else if (imageExtensions.some(ext => lowerName.endsWith(ext)) || imageMimeTypes.includes(mimeType)) {\n    fileType = 'image';\n  }\n  \n  return {\n    json: {\n      ...input,\n      fileType,  // Add the classification to output\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        24
      ],
      "id": "a785aa6a-9249-4bbc-bd0a-28fafc535507",
      "name": "Check if file is Document or image"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Merge').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1120,
        -176
      ],
      "id": "2a1a498b-96ea-4418-bbba-13df80f58c46",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "httgFlDJ2NT0KnCx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho",
          "mode": "list",
          "cachedResultName": "RAG_Dev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sO_oE4Ain3dMmn2QXceCimdWEdyLDkYJ_lnlyc9Byho/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "File ID"
          ],
          "schema": [
            {
              "id": "File ID",
              "displayName": "File ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SHA256",
              "displayName": "SHA256",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed At",
              "displayName": "Processed At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Embedding Status",
              "displayName": "Embedding Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Embedded At",
              "displayName": "Embedded At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        224
      ],
      "id": "eaf36cfd-9542-45fa-b139-24914b6484e2",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "isfFoXqkawbtEbtG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ea63d25-395a-4af6-8f16-833d0aaf4f7c",
              "name": "File ID",
              "value": "={{ $('Merge').first().json.id }}",
              "type": "string"
            },
            {
              "id": "a8518065-d7e2-4951-802f-fde1f1236f76",
              "name": "File Name",
              "value": "={{ $('Merge').first().json.name }}",
              "type": "string"
            },
            {
              "id": "ed987c57-48d8-468b-ad3b-f97983fc8fc0",
              "name": "SHA256",
              "value": "={{ $json.debug.src_computedSHA256 }}",
              "type": "string"
            },
            {
              "id": "c4c65657-8180-4005-9018-f17d08853e11",
              "name": "Last Modified",
              "value": "={{ $('Merge').first().json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "598ea775-ad51-45a7-89ab-7b9a69015b0d",
              "name": "Processed At",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "128fd555-0a32-4c65-af1e-ba43140bc06f",
              "name": "Embedding Status",
              "value": "NA",
              "type": "string"
            },
            {
              "id": "488799e4-6478-4f3d-b803-a0745e769731",
              "name": "Embedded At",
              "value": "NA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        224
      ],
      "id": "22c2e262-2633-44e4-91fe-4013c6675347",
      "name": "Set name of fields to match those in the sheet1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "={{\"update\" || \"insert\"}}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "25987ea4-af16-4928-bb01-69b5727e0aac"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update or Insert"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3a2a68fd-5d95-4267-a42d-ad3eca9e1f7e",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "same file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        0,
        224
      ],
      "id": "9aad9eb7-e067-4978-9266-2f90f00399e5",
      "name": "Switch2"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        704,
        -384
      ],
      "id": "75c88b7e-e7d4-4188-add5-4c26bdc8d923",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "4KkenY2AXyXc07o8",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        800,
        -160
      ],
      "id": "932a8907-73cd-41a9-ade2-8615666be69c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        880,
        48
      ],
      "id": "881c9a05-7ade-4204-a4c1-5e8c3e920af1",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        672,
        -160
      ],
      "id": "84ee5e9a-a4be-414e-8fe0-c6c816d1e6d1",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "o3rJYBdYd8xjHMSY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        -176
      ],
      "id": "00e30e70-f9e7-4a6c-838e-e538a49a233a",
      "name": "Merge The"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1424,
        224
      ],
      "id": "f88587b4-9b9c-4814-b25a-dc111b64a1ec",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "4KkenY2AXyXc07o8",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1520,
        448
      ],
      "id": "0b6d8f35-c0ae-4f9d-817a-d9602e843a92",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1600,
        656
      ],
      "id": "5ee23528-92ef-4206-a312-15359b32b55e",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1392,
        448
      ],
      "id": "6bb5e506-336c-4e44-a617-dbb8bbb00b0f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "o3rJYBdYd8xjHMSY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $('Extract text').item.json.extractedText }}",
        "name": "={{ $('Merge').first().json.name }} text ocr",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KUQQ2zxEpWcWRWnlqzTIl_JVGJpdaesP",
          "mode": "list",
          "cachedResultName": "RAG testing",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KUQQ2zxEpWcWRWnlqzTIl_JVGJpdaesP"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        808,
        224
      ],
      "id": "b8c60a02-e445-4d97-9781-2c4f2a10837d",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "httgFlDJ2NT0KnCx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1168,
        224
      ],
      "id": "e2fe3f12-f844-432a-a7b0-670bdac5f523",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "httgFlDJ2NT0KnCx",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Check if the file is completely uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Check if file is Document or image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute SHA": {
      "main": [
        [
          {
            "node": "Check if File ID already exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if File ID already exists": {
      "main": [
        [
          {
            "node": "Check update or create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if the file is completely uploaded": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text": {
      "main": [
        [
          {
            "node": "Compute SHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute SHA1": {
      "main": [
        [
          {
            "node": "Check if File ID already exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if File ID already exists1": {
      "main": [
        [
          {
            "node": "Check update or create1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set name of fields to match those in the sheet": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check update or create": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Set name of fields to match those in the sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file is Document or image": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Compute SHA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge The",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set name of fields to match those in the sheet1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Set name of fields to match those in the sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check update or create1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Merge The": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Merge The",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create file from text": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7a99a99-1367-440b-bb11-1a01255f9fd7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51ab57182078281e47116f8c50f453587ccecad1bd08d0c74a394e1e394e9533"
  },
  "id": "WX9grzGvePcf62kn",
  "tags": []
}